<template lang="pug">
  article.article-new
    header.article-new__header
      img(:src="cover", alt="")
      .container
        h1.article-new__title
          | {{ title }}
        p.article-new__date
          | {{ date }}
    .container
      .article-new__content(v-html="content")
</template>

<script>
export default {
  name: 'Article',
  async asyncData({ store, params }) {
    const article = await store.dispatch(
      'admin/articles/fetchArticle',
      params.slug
    )
    return {
      article: { ...article }
    }
  },
  data: () => ({
    article: {}
  }),
  computed: {
    cover() {
      return this.article.coverUrl || ''
    },
    title() {
      return this.article.title || ''
    },
    content() {
      return this.article.content || ''
    },
    date() {
      return this.article.date || ''
    }
  }
}
</script>

<style lang="scss">
.article-new {
  padding-bottom: 40px;

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 40px;
    height: 300px;
    text-align: center;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background-color: rgba($color-black, 0.6);
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    color: $color-white;

    @include media($width_xs_s, 0) {
      font-size: 24px;
    }
  }

  &__date {
    position: relative;
    z-index: 2;
    color: $color-card;
  }

  &__content {
    margin: 0 auto;
    max-width: 80%;

    @include media($width_md, 0) {
      max-width: 100%;
    }
  }

  p {
    margin-bottom: 15px;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  &__video {
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 44%;
    width: 80%;
    height: 0;

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    @include media($width_lgx, 0) {
      width: 80%;
      padding-bottom: 40.6%;
      margin: 0 auto;
    }

    @include media($width_xs_s, 0) {
      width: 100%;
      padding-bottom: 44%;
    }
  }

  @include media($width_xs_s, 0) {
    padding-bottom: 60px;
  }
}
</style>
