<template>
  <section class="articles">
    <div class="container">
      <h1 class="section-title">Полезные статьи</h1>
      <div class="articles__list">
        <app-news-post
          v-for="post in articles"
          :key="post._id"
          :post="post"
          is-article
        ></app-news-post>
      </div>
    </div>
  </section>
</template>

<script>
import moment from 'moment'
import AppNewsPost from '~/components/AppUi/AppNewsPost'

export default {
  name: 'Articles',
  components: { AppNewsPost },
  async asyncData({ store }) {
    const responce = await store.dispatch('admin/articles/fetchArticles')
    const articles = responce.sort(function(a, b) {
      return moment(b.date) - moment(a.date)
    })
    return { articles }
  },
  data: () => ({
    articles: []
  })
}
</script>

<style lang="scss">
.articles {
  padding-bottom: 90px;
}
</style>
