<template>
  <section class="admin-pages">
    <h1>Список статей</h1>
    <el-table :data="articles" style="width: 100%">
      <el-table-column label="Название статьи">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 10px">{{ scope.row.title }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Действия">
        <template slot-scope="scope">
          <el-button size="mini" @click="open(scope.row.slug)"
            >Редактировать</el-button
          >
          <el-button size="mini" type="danger" @click="remove(scope.row._id)"
            >Удалить</el-button
          >
        </template>
      </el-table-column>
    </el-table>
  </section>
</template>

<script>
export default {
  name: 'ArticlesAdmin',
  layout: 'admin',
  middleware: ['admin-auth'],
  async asyncData({ store }) {
    const articles = await store.dispatch('admin/articles/fetchArticles')
    return { articles }
  },
  data: () => ({
    articles: [],
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 2000
        }
      }
    }
  }),
  methods: {
    open(slug) {
      this.$router.push(`/admin/articles/${slug}`)
    },
    async remove(id) {
      try {
        await this.$store.dispatch('admin/articles/removeArticle', id)
        const articles = await this.$store.dispatch(
          'admin/articles/fetchArticles'
        )
        this.articles = articles

        this.$toast.success(
          'Статья удалена',
          'OK',
          this.notificationSystem.options.success
        )
      } catch (e) {
        console.error(e)
      }
    }
  }
}
</script>

<style lang="scss"></style>
