<template lang="pug">
  section.equipments
    .equipments__wheat
      img(src="~/static/images/wheat_1.png" srcset="~/static/images/wheat_1@2x.png").equipments__wheat-pic.equipments__wheat-pic--1
      img(src="~/static/images/wheat_2.png" srcset="~/static/images/wheat_2@2x.png").equipments__wheat-pic.equipments__wheat-pic--2
      img(src="~/static/images/wheat_3.png" srcset="~/static/images/wheat_3@2x.png").equipments__wheat-pic.equipments__wheat-pic--3
      img(src="~/static/images/wheat_big.png" srcset="~/static/images/wheat_big@2x.png").equipments__wheat-pic.equipments__wheat-pic--big
    .container
      nuxt-link(to="/equipments").equipment__back Назад к категориям
      //- .equipments-list__empty(
      //-   v-if="categoryType === 'hinged'"
      //- )
      //-   .equipments-list__empty-pic
      //-     img(src="/images/tmp-hinged.jpg" alt="Комплект навесного оборудования, монтируемый на посевных комплексах, культиваторах и т.д. для припосевного внесения жидкого питания (ЖКУ, ЖСУ, КАС) без удаления системы сухого питания")
      //-   .equipments-list__empty-content
      //-     p
      //-       | Комплект навесного оборудования, монтируемый на посевных комплексах, культиваторах и т.д. для припосевного внесения жидкого питания (ЖКУ, ЖСУ, КАС) без удаления системы сухого питания.
      //-     p.equipments-list__empty-price
      //-       | Стоимость от 500 000 руб. до 800 000 руб.
      //-     app-btn(@click.native="showPopup('Заказать консультацию специалиста', 'Заказать консультацию')")
      //-       | Узнать подробнее
      .equipments-list
        .equipments-item(
          v-for="(item, index) in equipmentsContent"
          v-if="categoryTypeCurrent(item.type)"
          :key='index'
        )
          h5.equipments-item__name
            | {{ item.title }}
          strong.equipments-item__price(v-html="item.price")
          ul.equipments-item__performance
            li(v-for="(performanceItem, index) in item.performance" :key='index')
              strong(
                v-if="index === item.performance.length - 1"
              )
                | {{ performanceItem.value }}
              span(
                v-else
              )
                | {{ performanceItem.value }}
          .equipments-item__pic(v-if="item.imageSrc")
            img(
              :src="item.imageSrc"
              :alt="item.imageAlt"
            )

          app-btn(
            v-if="isAuth"
            :linkFile="`https://nagro.group/documents/equipments/${item.value}.pdf`"
          ).equipments-item__btn
            | Подробнее
          app-btn(
            v-else
            @click.native="openEquipment()"
          ).equipments-item__btn
            | Подробнее

      .equipments-list__descr(
          v-if="categoryType === 'szr'"
        )
          | #[sup *] АТД СЗР и РУА СЗР запущенных в производство с этого момента дозирующие модули пестицидов с обвязкой до премиксера изготавливаются из нержавеющей стали, кроме самого насоса дозатора.
      .equipments-video(v-if="categoryType !== 'hinged' && categoryType !== 'systems'")
        h3.equipments-video__title.section-title
          | Видео-презентация для оборудования категории
        client-only
          .equipments-video__wrapper
            youtube(
              v-if="categoryType ==='rukas'"
              class="equipments-video__video"
              player-height="100%"
              player-width="100%"
              video-id="OxVkhby3uOs")
            youtube(
              v-if="categoryType ==='rukas'"
              class="equipments-video__video"
              player-height="100%"
              player-width="100%"
              video-id="mLOPluqpVbA")
            youtube(
              v-if="categoryType ==='rukas'"
              class="equipments-video__video"
              player-height="100%"
              player-width="100%"
              video-id="m2soKS3YVkU")
            youtube(
              v-if="categoryType ==='rukas'"
              class="equipments-video__video"
              player-height="100%"
              player-width="100%"
              video-id="pdiVlO8AffY")
            youtube(
              v-if="categoryType ==='szr'"
              class="equipments-video__video"
              player-height="100%"
              player-width="100%"
              video-id="TpFFUAsENMs")
            youtube(
              v-if="categoryType ==='szr'"
              class="equipments-video__video"
              player-height="100%"
              player-width="100%"
              video-id="cLlRtDIsm8Q")
            youtube(
              v-if="categoryType ==='szr'"
              class="equipments-video__video"
              player-height="100%"
              player-width="100%"
              video-id="e8EHgthEFrY")
    transition(name="fade")
      modal-window(
        @modalShow="setPopupVisibility()"
        v-if="isModalVisible"
        :formName="popupFormName"
        formRef="equipmentRegisterForm"
        :btnName="popupFormBtn"
        :equipmentName="equipmentName"
      )
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { TweenMax, TimelineMax } from 'gsap'
import AppTabs from '~/components/AppUi/AppTabs'
import AppBtn from '~/components/AppUi/AppBtn'
import AppPopup from '~/components/AppUi/AppPopup'
import AppPreloader from '~/components/AppUi/AppPreloader'

const ModalWindow = () => ({
  component: import('~/components/AppUi/AppPopup.vue'),
  loading: AppPreloader,
  timeout: 3000
})

export default {
  name: 'Equipment',
  components: { AppPopup, AppBtn, AppTabs, ModalWindow },
  asyncData({ store, params, data }) {
    return { categoryType: params.category }
  },
  data: () => ({
    isModalVisible: false,
    isShowedParams: false,
    equipmentMenuShowed: false,
    tabName: '',
    popupFormName: '',
    popupFormBtn: '',
    equipmentName: ''
  }),
  computed: {
    ...mapGetters({
      equipmentsContent: 'equipments/G_EQUIPMENT',
      G_CONTENT_PAGE: 'admin/equipments/G_CONTENT_PAGE',
      isAuth: 'auth/G_AUTHENTICATED'
    })
  },
  created() {
    this.getEquipmentList()
  },
  mounted() {
    this.animationEquipment()
  },
  methods: {
    ...mapActions({
      getEquipmentList: 'equipments/A_GET_EQUIPMENT_DATA'
    }),
    openEquipment(name) {
      this.$modal.show('sign-up')
    },
    getCurrentTabName(thisTab) {
      this.equipmentsTabs.forEach((item) => {
        if (item.value === thisTab) {
          this.tabName = item.title
        }
      })
    },
    showPopup(formName, btnName) {
      this.popupFormName = formName
      this.popupFormBtn = btnName
      this.isModalVisible = true
    },
    setPopupVisibility(showed) {
      this.isModalVisible = showed
    },
    showParametrs() {
      this.isShowedParams = !this.isShowedParams
    },
    showEquipment() {
      this.equipmentsMenuShowed = !this.equipmentsMenuShowed
    },
    animationEquipment() {
      const timelineMachine = new TimelineMax()
      const timelineWheat = new TimelineMax()

      timelineWheat.add([
        TweenMax.to('.equipments__wheat-pic--1', 0.5, {
          x: '-10px',
          y: '-5px'
        }),
        TweenMax.to('.equipments__wheat-pic--2', 1, {
          x: '0',
          y: '-15px'
        }),
        TweenMax.to('.equipments__wheat-pic--3', 0.5, {
          x: '10px',
          y: '-15px'
        }),
        TweenMax.to('.equipments__wheat-pic--big', 1, {
          x: '15px',
          y: '-15px'
        })
      ])

      const wheatScene = this.$scrollmagic
        .scene({
          offset: '-80px',
          triggerElement: '.equipments',
          triggerHook: 0,
          duration: '100%'
        })
        .setTween(timelineWheat)

      timelineMachine.fromTo(
        '.tab-content__picture img',
        1,
        { scale: 0 },
        { scale: 1 }
      )

      this.$scrollmagic.addScene([wheatScene])
    },
    categoryTypeCurrent(category) {
      let categoryTypeCurrent = ''
      if (category && category.includes(this.categoryType)) {
        categoryTypeCurrent = category
        return categoryTypeCurrent
      } else {
        return false
      }
    }
  }
}
</script>

<style lang="scss">
.equipments {
  position: relative;

  &__wheat {
    position: absolute;
    top: 10%;
    right: 0;
    height: calc(320px / 1.5);
    width: calc(200px / 1.5);

    &-pic {
      position: absolute;
      right: 0;
      top: 0;

      &--1 {
        right: calc(74px / 1.5);
        top: calc(3px / 1.5);
        width: calc(21px / 1.5);
        height: calc(24px / 1.5);

        @include media($width-container, 0) {
          right: (74px / 1.5) / $width-container * 100vw;
          top: (3px / 1.5) / $width-container * 100vw;
          width: (21px / 1.5) / $width-container * 100vw;
          height: (24px / 1.5) / $width-container * 100vw;
        }

        @include media($width_xs, 0) {
          right: (74px / 1.3) / $width_xs * 100vw;
          top: (3px / 1.3) / $width_xs * 100vw;
          width: (21px / 1.3) / $width_xs * 100vw;
          height: (24px / 1.3) / $width_xs * 100vw;
        }
      }

      &--2 {
        right: calc(43px / 1.5);
        top: calc(-29px / 1.5);
        width: calc(14px / 1.5);
        height: calc(22px / 1.5);

        @include media($width-container, 0) {
          right: (43px / 1.5) / $width-container * 100vw;
          top: (-29px / 1.5) / $width-container * 100vw;
          width: (14px / 1.5) / $width-container * 100vw;
          height: (22px / 1.5) / $width-container * 100vw;
        }

        @include media($width_xs, 0) {
          right: (43px / 1.3) / $width_xs * 100vw;
          top: (-29px / 1.3) / $width_xs * 100vw;
          width: (14px / 1.3) / $width_xs * 100vw;
          height: (22px / 1.3) / $width_xs * 100vw;
        }
      }

      &--3 {
        top: calc(8px / 1.5);
        right: calc(18px / 1.5);
        width: calc(24px / 1.5);
        height: calc(29px / 1.5);

        @include media($width-container, 0) {
          top: (8px / 1.3) / $width-container * 100vw;
          right: (18px / 1.3) / $width-container * 100vw;
          width: (24px / 1.3) / $width-container * 100vw;
          height: (29px / 1.3) / $width-container * 100vw;
        }

        @include media($width_xs, 0) {
          top: (8px / 1.3) / $width_xs * 100vw;
          right: (18px / 1.3) / $width_xs * 100vw;
          width: (24px / 1.3) / $width_xs * 100vw;
          height: (29px / 1.3) / $width_xs * 100vw;
        }
      }
      &--big {
        right: calc(-240px / 1.5);
        height: calc(288px / 1.5);
        width: calc(444px / 1.5);

        @include media($width-container, 0) {
          right: (-240px / 1.5) / $width-container * 100vw;
          height: (288px / 1.5) / $width-container * 100vw;
          width: (444px / 1.5) / $width-container * 100vw;
        }

        @include media($width_xs, 0) {
          right: (-240px / 1.3) / $width_xs * 100vw;
          height: (288px / 1.3) / $width_xs * 100vw;
          width: (444px / 1.3) / $width_xs * 100vw;
        }
      }
    }

    @include media($width-container, 0) {
      height: (320px / 1.5) / $width-container * 100vw;
      width: (200px / 1.5) / $width-container * 100vw;
    }

    @include media($width_xs, 0) {
      top: auto;
      bottom: 0;
      height: (320px / 1.3) / $width_xs * 100vw;
      width: (200px / 1.3) / $width_xs * 100vw;
    }

    @include media($width_xs_s, 0) {
      display: none;
    }
  }

  &__show-params {
    margin-bottom: 22px;
  }

  &__housing {
    margin-bottom: 22px;

    &--selected {
      .vs__dropdown-toggle {
        &::before {
          left: 0;
          width: 100%;
          background-color: $color-accent;
          transition: left 0.4s, width 0.4s, background-color 0.1s;
        }
      }
    }
  }

  &-price {
    margin-bottom: 40px;

    svg {
      margin-left: 3px;
      width: 12px;
      height: 12px;
    }
  }

  @include media($width_xs, 0) {
    padding-bottom: 60px;
  }

  @include media($width_xs_s, 0) {
    padding-bottom: 60px;
  }
}

.equipments-list {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: row wrap;
  list-style: none;
  padding-left: 0;

  @include media($width_xs, 0) {
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  &__descr {
    color: $color-accent;
    margin-bottom: 44px;
  }

  &__empty {
    padding-top: 8%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    &-price {
      font-weight: 500;
    }

    &-pic {
      margin: 0 auto;
      text-align: center;
      position: relative;
      width: 400px;
      height: 280px;
      margin-right: 24px;

      img {
        object-fit: cover;
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
      }

      @include media($width_md, 0) {
        width: 100%;
        height: 200px / $width_md * 100vw;
        margin-bottom: 24px;
        margin-right: 0;
      }

      @include media($width_xs, 0) {
        height: 150px;
      }
    }

    &-content {
      width: calc(100% - 424px);
      padding-right: 10%;

      @include media($width_md, 0) {
        width: 100%;
        padding-right: 0;
      }
    }

    @include media($width_md, 0) {
      flex-flow: column nowrap;
    }
  }
}

.equipments-item {
  width: 30%;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid $color-border;
  height: 500px;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin-bottom: 40px;
  transition: box-shadow 0.5s;
  position: relative;
  z-index: 1;
  background-color: $color-white;

  &:not(:nth-of-type(3n)) {
    margin-right: 64px;

    @include media($width-container, 0) {
      margin-right: 62px / $width-container * 100vw;
    }

    @include media($width_md, 0) {
      margin-right: 0;
    }
  }

  &__name {
    margin-bottom: 5px;
    font-weight: 700;
  }

  &__performance {
    padding-left: 10px;
    margin-bottom: 20px;
    list-style: none;

    strong {
      color: $color-accent;
    }
  }

  &__btn {
    margin-top: auto;
  }

  &__pic {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 230px;
      height: 230px;
      border-width: 50px;
      border-radius: 50%;
      border-color: $color-circles;
      border-style: solid;
      transform: translate(-50%, -50%);
      transition: border-width 0.4s;

      @include media($width-container, 0) {
        width: 230px / $width-container * 100vw;
        height: 230px / $width-container * 100vw;
        border-width: 50px / $width-container * 100vw;
      }

      @include media($width_xs, 0) {
        width: 200px;
        height: 200px;
        border-width: 50px;
      }
    }

    img {
      position: relative;
      z-index: 1;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      transition: transform 0.4s;
    }

    @include media($width_xs_s, 0) {
      width: 250px;
      height: 250px;
    }
  }

  @include media($width_md, 1) {
    &:hover,
    &:focus {
      // box-shadow: none;
      // transition: box-shadow 0.5s;

      .equipments-item__pic {
        &:after {
          border-width: 100px;
          transition: border-width 0.4s;
        }

        img {
          transform: scale(1.1);
          transition: transform 0.4s;
        }
      }
    }
  }

  @include media($width_xs, 0) {
    width: 100%;
  }
}

.equipment__back {
  display: inline-block;
  margin-bottom: 30px;
}

.equipments-video {
  padding-bottom: 80px;

  @include media($width_xs, 0) {
    padding-bottom: 40px;
  }

  &__wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);

    @include media($width_xs, 0) {
      display: block;
    }
  }

  &__video {
    position: relative;
    width: 100%;
    height: 340px;

    @include media($width_xs, 0) {
      margin-bottom: 30px;
    }

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      min-width: 100%;
      min-height: 100%;
    }

    iframe,
    object,
    embed {
      max-width: 100%;
      max-height: 100%;
    }

    @include media($width-container, 0) {
      height: 340px / $width-container * 100vw;
    }

    @include media($width_md, 0) {
      height: 340px / $width_md * 100vw;
    }

    @include media($width_xs, 0) {
      height: 450px;
      margin-bottom: 20px;
    }

    @include media($width_xs_s, 0) {
      height: 250px;
    }
  }
}
</style>
