<template lang="pug">
  section.instructions
    .container
      h1.section-title(data-aos="fade")
        | Руководства по эксплуатации нашего оборудования
      .instructions__wrapper
        h4.instructions-subtitle
          | Растворные узлы
        .instruction-item(
          v-for="item in instructions"
          v-if="item.type === 'rukas'"
        )
          .instruction-item__icon
            svg-icon(name="icon-instcructions")
          .instruction-item__box
            .instruction-item__name
              | {{ item.name }}
            a.instruction-item__link(href="#" @click.prevent="openInstruction(item.pageName)")
              | Открыть инструкцию
      h2.section-title(data-aos="fade")
        | Видео инструкции по работе с оборудованием
      .instructions__videos
        client-only
          youtube(
            class="instructions-video"
            player-height="100%"
            player-width="100%"
            video-id="i-6pjIrMvOM")
          youtube(
            class="instructions-video"
            player-height="100%"
            player-width="100%"
            video-id="PZT3g-MgibM")
          youtube(
            class="instructions-video"
            player-height="100%"
            player-width="100%"
            video-id="jOOgiC-hUq4")
          youtube(
            class="instructions-video"
            player-height="100%"
            player-width="100%"
            video-id="Js65xkf29fg")
</template>

<script>
import instructionsData from '~/static/data/instructions.json'

export default {
  name: 'Instructions',
  data: () => ({
    instructions: instructionsData
  }),
  methods: {
    openInstruction(name) {
      this.$router.push(`/instruction/${name}`)
    }
  }
}
</script>

<style lang="scss">
.instructions {
  position: relative;
  padding-bottom: 60px;

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    @include media($width_xs, 0) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @include media($width_xs, 0) {
    padding-bottom: 80px;
  }
}

.instructions-subtitle {
  width: 100%;
  margin-bottom: 32px;
}

.instruction-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 33%;
  margin-bottom: 48px;

  &__icon {
    width: 90px;
    height: 90px;
  }

  &__box {
    padding-left: 20px;
    width: calc(100% - 90px);
  }

  &__name {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
  }

  @include media($width_xs, 0) {
    width: 100%;
  }
}

.instructions-video {
  position: relative;
  width: 100%;
  height: 340px;

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }

  iframe,
  object,
  embed {
    max-width: 100%;
    max-height: 100%;
  }

  @include media($width-container, 0) {
    height: 340px / $width-container * 100vw;
  }

  @include media($width_md, 0) {
    height: 340px / $width_md * 100vw;
  }

  @include media($width_xs, 0) {
    height: 450px;
    margin-bottom: 20px;
  }

  @include media($width_xs_s, 0) {
    height: 250px;
  }
}
</style>
