<template>
  <section class="create-action">
    <h1 class="admin-page__title">Добавить акцию</h1>
    <el-form
      ref="actionForm"
      :model="action"
      :rules="validationRules"
      @submit.native.prevent="save()"
    >
      <el-form-item label="Изображение акции">
        <el-upload
          ref="upload"
          class="cover-uploader"
          action="/"
          :show-file-list="false"
          :on-change="handleCoverChange"
          :auto-upload="false"
        >
          <img v-if="cover" :src="cover" alt="" class="cover-uploader__image" />
          <div v-else class="cover-uploader__icon">
            <i class="el-icon-plus"></i>
          </div>
        </el-upload>
      </el-form-item>

      <div class="editor-field">
        <p>Контент акции</p>
        <wysiwyg v-model="action.content" class="create-article__editor" />
      </div>

      <div class="editor-field">
        <p>Предпросмотр</p>
        <!-- eslint-disable-next-line vue/no-v-html -->
        <div class="content-preview" v-html="action.content"></div>
      </div>

      <app-btn class="btn-submit" type="submit">
        Сохранить акцию
      </app-btn>
    </el-form>
  </section>
</template>

<script>
import { mapActions } from 'vuex'
import global from '~/mixins/global.mixin.js'
import AppBtn from '~/components/AppUi/AppBtn'

export default {
  name: 'CreateAction',
  components: { AppBtn },
  mixins: [global],
  layout: 'admin',
  data: () => ({
    action: {
      content: '',
      imageUrl: ''
    },
    cover: '',
    image: null
  }),
  computed: {
    contentFilled() {
      return this.action.content && this.action.content.length > 3
    }
  },
  methods: {
    ...mapActions({
      create: 'actions/create',
      uploadCover: 'imageUploader'
    }),
    handleCoverChange(file) {
      const isJPG = file.raw.type === 'image/jpeg'
      const isPNG = file.raw.type === 'image/png'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG && !isPNG) {
        this.$message.error('Загрузите jpg или png файл не больше 2MB')
      }
      if (!isLt2M) {
        this.$message.error('Файл не должен превышать размер 2MB')
      }
      if ((isJPG && isLt2M) || (isPNG && isLt2M)) {
        this.cover = URL.createObjectURL(file.raw)
        this.image = file.raw
      }
    },
    async save() {
      // this.$refs.actionForm.validate(async (valid) => {

      if (this.contentFilled && this.image) {
        try {
          await this.uploadCover(this.image).then(({ data }) => {
            const formData = {
              content: this.action.content,
              imageUrl: data.url || ''
            }

            this.create(formData).then(() => {
              this.$toast.success('Акция успешно добавлена', 'OK', null)
              this.$refs.upload.clearFiles()
              this.$refs.actionForm.resetFields()
              this.action.content = this.cover = ''
            })
          })
        } catch (e) {
          console.error(e.message)
        }
      } else if (!this.contentFilled && this.image) {
        this.$toast.error(
          'Заполните контент, не менее 3 символов',
          'Ошибка',
          null
        )
      } else {
        this.$toast.error('Загрузите изображение', 'Ошибка', null)
      }

      // })
    }
  }
}
</script>

<style scoped></style>
