<template>
  <section class="create-article">
    <h1 class="admin-page__title">Добавить статью</h1>
    <el-form ref="articleAddForm" :model="article" :rules="rules">
      <el-form-item label="Обложка">
        <el-upload
          ref="upload"
          class="cover-uploader"
          action="https://jsonplaceholder.typicode.com/posts/"
          :show-file-list="false"
          :on-change="handleCoverChange"
          :auto-upload="false"
        >
          <img
            v-if="article.cover"
            :src="article.cover"
            class="cover-uploader__image"
          />
          <div v-else class="cover-uploader__icon">
            <i class="el-icon-plus"></i>
          </div>
        </el-upload>
      </el-form-item>

      <el-form-item label="Заголовок" prop="title">
        <el-input v-model="article.title"></el-input>
      </el-form-item>

      <el-form-item label="Дата" prop="date">
        <el-input v-model="article.date"></el-input>
      </el-form-item>

      <el-form-item label="Slug">
        <el-input v-model="slug" disabled></el-input>
      </el-form-item>

      <el-form-item label="Краткое описание" prop="description">
        <el-input v-model="article.description" type="textarea"></el-input>
      </el-form-item>
    </el-form>

    <div class="editor-field">
      <p>Контент статьи</p>
      <wysiwyg v-model="article.content" class="create-article__editor" />
    </div>

    <div class="editor-field">
      <p>Предпросмотр</p>
      <!-- eslint-disable-next-line vue/no-v-html -->
      <div class="content-preview" v-html="article.content"></div>
    </div>

    <app-btn class="btn-submit" type="submit" @click.native="onSubmit()"
      >Сохранить статью</app-btn
    >
  </section>
</template>

<script>
import { mapActions } from 'vuex'
import { slugify } from 'transliteration'
import AppBtn from '~/components/AppUi/AppBtn'
export default {
  name: 'CreateArticles',
  components: {
    AppBtn
  },
  layout: 'admin',
  data: () => ({
    cover: '',
    article: {
      title: '',
      slug: '',
      content: '',
      cover: '',
      description: '',
      date: ''
    },
    rules: {
      title: [
        {
          required: true,
          message: 'Заголовок обязательное поле',
          trigger: 'blur'
        },
        { min: 3, message: 'Не меньше 3 букв', trigger: 'blur' }
      ],
      description: [
        {
          required: true,
          message: 'Описание обязательное поле',
          trigger: 'blur'
        },
        { min: 30, message: 'Не меньше 30 букв', trigger: 'blur' }
      ]
    },
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 2000
        }
      }
    }
  }),
  computed: {
    slug() {
      return slugify(this.article.title, {
        replace: { '.': '' },
        lowercase: true,
        separator: '_'
      })
    }
  },
  methods: {
    ...mapActions({
      createArticle: 'admin/articles/createArticle',
      uploadCover: 'imageUploader'
    }),
    handleCoverChange(file) {
      const isJPG = file.raw.type === 'image/jpeg'
      const isPNG = file.raw.type === 'image/png'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG && !isPNG) {
        this.$message.error('Загрузите jpg или png файл не больше 2MB')
      }
      if (!isLt2M) {
        this.$message.error('Файл не должен превышать размер 2MB')
      }
      if ((isJPG && isLt2M) || (isPNG && isLt2M)) {
        this.article.cover = URL.createObjectURL(file.raw)
        this.cover = file.raw
      }
    },
    onSubmit() {
      this.$refs.articleAddForm.validate(async (valid) => {
        if (valid && this.cover) {
          try {
            await this.uploadCover(this.cover).then(({ data }) => {
              const formData = {
                title: this.article.title,
                slug: this.slug,
                content: this.article.content,
                description: this.article.description,
                date: this.article.date,
                coverUrl: data.url
              }

              this.createArticle(formData)
            })

            this.$toast.success(
              'Пост успешно добавлен',
              'OK',
              this.notificationSystem.options.success
            )
            this.$refs.upload.clearFiles()
            this.$refs.articleAddForm.resetFields()
            this.article.title = this.article.content = this.article.cover = ''
          } catch (e) {
            console.error(e)
          }
        } else if (!this.cover) {
          this.$toast.error(
            'Не загружено изображение обложки',
            'Ошибка',
            this.notificationSystem.options.error
          )
        } else {
          this.$toast.error(
            'Заполнить обязательные поля',
            'Ошибка',
            this.notificationSystem.options.error
          )
        }
      })
    }
  }
}
</script>

<style lang="scss">
.create-article {
  &__editor {
    margin-bottom: 22px;
  }
}
</style>
