<template lang="pug">
  section
    h1 Панель управления контентом
</template>

<script>
export default {
  name: 'AdminPanel',
  layout: 'admin',
  middleware: ['admin-auth']
}
</script>

<style lang="scss"></style>
