<template lang="pug">
  section.login
    h1 Авторизация
    validation-observer(
      tag="form"
      v-slot="{ validate, reset }"
      ref="loginObserver"
      @submit.prevent="onLogin()"
    ).login__form
      app-field(
        v-model="loginName"
        type="text"
        placeholder="Логин"
        :validation="{required: true}"
      )
      app-field(
        v-model="loginPassword"
        type="password"
        placeholder="Пароль"
        :validation="{required: true, min: 6}"
      )
      app-btn(type="submit").login__submit
        | Войти
</template>

<script>
import { mapActions } from 'vuex'
import AppField from '~/components/AppUi/AppField'
import AppBtn from '~/components/AppUi/AppBtn'
export default {
  name: 'Login',
  components: { AppBtn, AppField },
  layout: 'empty',
  data: () => ({
    loginName: '',
    loginPassword: '',
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 2000
        }
      }
    }
  }),
  mounted() {
    const { message } = this.$route.query

    switch (message) {
      case 'login':
        this.$toast.error(
          'Для просмотра необходимо авторизоваться',
          'Ошибка',
          this.notificationSystem.options.error
        )
        break
      case 'session':
        this.$toast.warning(
          'Время сессии истекло, авторизуйтесь еще раз',
          '',
          this.notificationSystem.options.error
        )
        break
      case 'logout':
        this.$toast.success(
          'Успешно вышли из системы!',
          'OK',
          this.notificationSystem.options.success
        )
        break
    }
  },
  methods: {
    ...mapActions({
      preloader: 'A_PRELOADER_END',
      signIn: 'auth/A_LOGIN_ADMIN'
    }),
    async onLogin() {
      const loginValid = await this.$refs.loginObserver.validate()
      if (loginValid) {
        this.preloader({ load: true })

        try {
          const formData = {
            login: this.loginName,
            password: this.loginPassword
          }

          await this.signIn(formData)

          this.$router.push('/admin')
          this.preloader({ load: false })
        } catch (e) {
          this.preloader({ load: false })
          console.log(e)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  &__submit {
    margin-top: 40px;
  }
}
</style>
