<template lang="pug">
  section
    h1 Очищаем данные
</template>

<script>
export default {
  name: 'LogoutAdmin',
  layout: 'admin',
  middleware: ['admin-auth'],
  beforeCreate() {
    this.$store.dispatch('auth/A_LOGOUT')
    this.$router.push('/admin/login?message=logout')
  }
}
</script>

<style lang="scss" scoped></style>
