<template>
  <section class="subscribers">
    <el-table :data="subscribers" style="width: 100%">
      <el-table-column prop="email" label="Email"></el-table-column>
    </el-table>
  </section>
</template>

<script>
export default {
  name: 'AdminSubscribers',
  layout: 'admin',
  middleware: ['admin-auth'],
  async asyncData({ store }) {
    const subscribers = await store.dispatch('subscribers/A_GET_SUBSCRIBERS')
    return { subscribers }
  },
  data: () => ({
    subscribers: []
  })
}
</script>

<style></style>
