.admin-page {
  &__title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 30px;

    .form-field {
      margin-bottom: 0;
      max-width: 100%;
    }
  }

  &__field {
    width: 90%;

    &--name {
      width: 100%;
    }
  }

  &__file {
    padding: 30px 0;
  }

  &__preview {
    border: 1px solid $color-border;
    width: 100%;

    > * {
      max-width: 100%;
    }
  }

  .form-field {
    max-width: 100%;
  }

  .btn-submit {
    margin-top: 40px;
  }
}

.cover-uploader {
  width: 100%;
  display: inline-block;

  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:hover {
      border-color: #409eff;
    }
  }

  &__image {
    width: 500px;
    height: 140px;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  &__icon {
    font-size: 28px;
    color: #8c939d;
    width: 500px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.editor-field {
  margin-bottom: 22px;

  p {
    margin: 0;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
  }
}

.content-preview {
  border: 1px solid #000;
  padding: 1rem;
}
