@font-face {
  font-family: 'Euclid Square';
  src: url('~assets/fonts/EuclidSquare-Bold.woff2') format('woff2'),
    url('~assets/fonts/EuclidSquare-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('~assets/fonts/EuclidSquare-LightItalic.woff2') format('woff2'),
    url('~assets/fonts/EuclidSquare-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('~assets/fonts/EuclidSquare-Italic.woff2') format('woff2'),
    url('~assets/fonts/EuclidSquare-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('~assets/fonts/EuclidSquare-Regular.woff2') format('woff2'),
    url('~assets/fonts/EuclidSquare-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('~assets/fonts/EuclidSquare-MediumItalic.woff2') format('woff2'),
    url('~assets/fonts/EuclidSquare-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('~assets/fonts/EuclidSquare-Medium.woff2') format('woff2'),
    url('~assets/fonts/EuclidSquare-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('~assets/fonts/EuclidSquare-BoldItalic.woff2') format('woff2'),
    url('~assets/fonts/EuclidSquare-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('~assets/fonts/EuclidSquare-Light.woff2') format('woff2'),
    url('~assets/fonts/EuclidSquare-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('~assets/fonts/EuclidSquare-SemiBoldItalic.woff2') format('woff2'),
    url('~assets/fonts/EuclidSquare-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('~assets/fonts/EuclidSquare-SemiBold.woff2') format('woff2'),
    url('~assets/fonts/EuclidSquare-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
