html {
  line-height: 1.3;
}

body {
  font-family: $font-default;
  font-size: $fz-base;
  color: $color-primary;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  background-color: $color-white;

  &::-webkit-scrollbar {
    display: none;
  }
}

.wrapper {
  max-width: 100%;
  overflow: hidden;
  min-height: calc(100vh - 80px - 348px);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

//noinspection CssInvalidPropertyValue
input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}

a {
  color: $color-accent;

  @include media($width_md, 1) {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

svg {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: $fz-h1;
  font-weight: 500;
  margin: 0;
  color: $color-black;
}

h2 {
  font-size: $fz-h2;
  font-weight: 500;
  color: $color-black;
}

h3 {
  font-size: $fz-h3;
  font-weight: 400;
  color: $color-black;
}

h4 {
  font-size: $fz-h4;
  font-weight: 400;
  color: $color-black;
}

h5 {
  font-size: $fz-h5;
  font-weight: 400;
  color: $color-black;
}

h6 {
  font-size: $fz-h6;
  font-weight: 400;
  color: $color-black;
}

p {
  margin-bottom: 22px;
}

section {
  padding: 60px 0;
  overflow: hidden;

  @include media($width_md, 0) {
    padding: 40px 0;
  }

  @include media($width_xs, 0) {
    padding: 30px 0;
  }
}

.container {
  width: 100%;
  max-width: $width-container;
  margin: 0 auto;

  @include media($width-container, 0) {
    padding: 0 15px;
  }
}

.small-text {
  font-size: $fz-small;
}

.section-title {
  font-size: $fz-section-title;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 50px;

  @include media($width_xs_s, 0) {
    font-size: 26px;
  }
}

#leadia_science_widget .leadia_widget {
  width: 280px !important;
}

.vue-lb-button-close {
  @include media($width_md, 1) {
    &:hover,
    &:focus {
      svg {
        fill: $color-accent;
        transform: scale(1.1);
        transition-property: fill, transform;
        transition-duration: 0.3s;
      }
    }
  }
}

.icon-ruble {
  margin-left: 3px;
  width: 10px;
  height: 10px;
}

.article-new__content {
  font-family: $font-default !important;
  padding-bottom: 60px;

  & > div {
    font-family: $font-default !important;
  }

  ul {
    padding-left: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 20px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 9px;
        width: 10px;
        height: 2px;
        background-color: $color-accent;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }
}

// ===  SELECT  ===
.vs--searchable .vs__dropdown-toggle {
  cursor: pointer;
}

.vs__open-indicator {
  fill: #394066;
}

.vs__dropdown-menu {
  background-color: $color-white;
  border: none;
  // top: calc(100% - 4px);
  top: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.vs__dropdown-toggle {
  position: relative;
  border: none;
  border-bottom: 4px solid transparent;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: $bdr-width;
    background-color: $color-border;
    border-radius: $brs;
  }

  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: $bdr-width;
    background-color: transparent;
    border-radius: $brs;
    transition: left 0.4s, width 0.4s, background-color 1.2s;
  }
}

.vs__dropdown-option {
  padding: 8px 10px;
}

.vs__dropdown-option--highlight {
  background: $color-primary;
  color: $color-white;
}

.vs--single .vs__selected {
  padding-left: 0;
  margin-left: 0;
}

.vs__search,
.vs__search:focus {
  padding-left: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.vs__clear {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;

  @include media($width_md, 1) {
    transition: fill 0.2s;

    &:hover,
    &:focus {
      fill: $color-error;
      transition: fill 0.2s;
    }
  }
}

.vs__open-indicator {
  width: 16px !important;
}

.vs__selected-options {
  min-height: 28px;
}

// ===  /SELECT  ===

// ===  POPUP  ===

.popup-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-primary, 0.41);
}

.popup-container {
  position: relative;
  z-index: 201;
  width: 100%;
  max-width: 500px;
  padding: 64px 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 1px solid #979797;
  background-color: $color-white;

  .btn {
    margin-top: 40px;
  }

  @include media($width_xs_s, 0) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 64px 40px / $width_xs_s * 100vw;

    > span {
      width: 100%;
    }

    .form-field {
      max-width: 100%;
    }

    .btn {
      max-width: 100%;
    }
  }
}

.popup-thx {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: $color-white;
  z-index: 10;
  text-align: center;
  padding: 15px;
}

.popup-title {
  font-weight: 500;
}

.popup-subtitle {
  padding: 5px 40px;
  margin: 0;
  font-size: 11px;
  text-align: center;
}

.popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 11;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: $color-primary;

  svg {
    transition-property: fill, transform;
    transition-duration: 0.2s;
  }

  @include media($width_md, 1) {
    &:hover,
    &:focus {
      svg {
        fill: $color-accent;
        transform: scale(1.1);
        transition-property: fill, transform;
        transition-duration: 0.2s;
      }
    }
  }
}

.popup-form {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
// ===  /POPUP  ===

// ===  TRANSITIONS  ===

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transform: translateY(0);
  transition: transform 0.3s;
}

.slide-enter, .slide-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  transform: translateY(100%);
  transition: transform 0.3s;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

// ===  ANIMATIONS  ===

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@keyframes pulseCircle {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }
  50% {
    transform: scale(1.1) translate(-46%, -46%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes pulseCircleLarge {
  0% {
    transform: scale(1.1) translate(-46%, -46%);
  }
  50% {
    transform: scale(1.5) translate(-36%, -38%);
  }
  100% {
    transform: scale(1.1) translate(-46%, -46%);
  }
}

@keyframes forward-one {
  0% {
    top: 0;
    transform: rotate(0deg);
  }

  33% {
    top: calc(50% - #{$line-height} / 2);
    transform: rotate(0deg);
  }

  100% {
    top: calc(50% - #{$line-height} / 2);
    transform: rotate(45deg);
  }
}

@keyframes forward-two {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes forward-three {
  0% {
    top: calc(100% - #{$line-height});
    transform: rotate(0deg);
  }

  33% {
    top: calc(50% - #{$line-height} / 2);
    transform: rotate(0deg);
  }

  100% {
    top: calc(50% - #{$line-height} / 2);
    transform: rotate(135deg);
  }
}

@keyframes backward-one {
  0% {
    top: 0;
    transform: rotate(0deg);
  }

  33% {
    top: calc(50% - #{$line-height} / 2);
    transform: rotate(0deg);
  }

  100% {
    top: calc(50% - #{$line-height} / 2);
    transform: rotate(45deg);
  }
}

@keyframes backward-two {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes backward-three {
  0% {
    top: calc(100% - #{$line-height});
    transform: rotate(0deg);
  }

  33% {
    top: calc(50% - #{$line-height} / 2);
    transform: rotate(0deg);
  }

  100% {
    top: calc(50% - #{$line-height} / 2);
    transform: rotate(135deg);
  }
}

.vue-lb-footer {
  display: none !important;
}

.vue-lb-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @include media($width_xs_s, 0) {
    top: -60px;
  }
}

.vue-lb-content {
  margin-bottom: 0 !important;
}

img.vue-lb-modal-image {
  max-height: calc(100vh - 10px) !important;
}

.vue-lb-button-close {
  margin-right: -50px !important;
  height: 50px !important;
  width: 50px !important;
  fill: $color-white;

  @include media($width_xs_s, 0) {
    right: 0;
    margin-right: -5px !important;
    height: 35px !important;
    width: 35px !important;
  }
}

.price-btn {
  background-color: $color-accent !important;

  @include media($width_md, 1) {
    &:hover,
    &:focus {
      background-color: $color-primary !important;
    }
  }
}

.form-field-wrapper {
  &--hidden {
    position: absolute;
    left: -99999px;
    top: -9999px;
    visibility: hidden;
    margin: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

.form-field {
  position: relative;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
  max-width: 320px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $bdr-width;
    background-color: $color-border;
    border-radius: $brs;
  }

  &:before {
    content: '';
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: $bdr-width;
    background-color: transparent;
    border-radius: $brs;
    transition: left 0.4s, width 0.4s, background-color 1.2s;
  }

  &__input {
    border: none;
    width: 100%;
    padding: 15px 0;
    outline: none;
    background-color: transparent;
    resize: none;

    &::placeholder {
      color: transparent;
    }

    &:-webkit-autofill {
      animation-name: autofill;
      animation-fill-mode: both;
    }
  }

  &__text {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: $fz-small;
    transform: translateY(-50%);
    transition-property: top, font-size, transform, color;
    transition-duration: 0.3s;
  }

  &__error {
    position: absolute;
    top: 110%;
    left: 0;
    font-size: 11px;
    color: $color-error;
    white-space: nowrap;
  }

  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    padding: 1px;
    margin-right: 7px;
    border-radius: 0;
    background: none;
    border: 1px solid #848484;

    svg {
      opacity: 0;
      max-width: 100%;
      max-height: 100%;
      transition: opacity 0.25s;
    }
  }

  &--focused:not(&--checkbox):not(&--radio) {
    &:before {
      left: 0;
      width: 100%;
      background-color: transparent;
      transition: left 0.4s, width 0.4s, background-color 0.1s;
    }

    .form-field__text {
      top: -5px;
      transform: none;
      font-size: $fz-small - 2px;
      color: $color-primary;
      transition-property: top, font-size, transform, color;
      transition-duration: 0.3s;
    }
  }

  &--focused:not(&--checkbox):not(&--radio).is-invalid {
    &:before {
      left: 0;
      width: 100%;
      background-color: $color-error;
      transition: left 0.4s, width 0.4s, background-color 0.1s;
    }

    .form-field__text {
      top: -5px;
      transform: none;
      font-size: $fz-small - 2px;
      color: $color-primary;
      transition-property: top, font-size, transform, color;
      transition-duration: 0.3s;
    }
  }

  &--focused:not(&--checkbox):not(&--radio).is-valid {
    &:before {
      left: 0;
      width: 100%;
      background-color: $color-accent;
      transition: left 0.4s, width 0.4s, background-color 0.1s;
    }

    .form-field__text {
      top: -5px;
      transform: none;
      font-size: $fz-small - 2px;
      color: $color-accent;
      transition-property: top, font-size, transform, color;
      transition-duration: 0.3s;
    }
  }

  &--checkbox,
  &--radio {
    max-width: none;
    cursor: pointer;

    &:after {
      display: none;
    }

    .form-field__text {
      position: relative;
      top: 0;
      transform: none;
    }

    .form-field__input {
      @include visually-hidden;
      width: auto;

      &:checked {
        + .form-field__icon {
          svg {
            opacity: 1;
            transition: opacity 0.25s;
          }

          &:before {
            width: 6px;
            height: 6px;
            opacity: 1;
            transition-property: width, height, opacity;
            transition-duration: 0.25s;
            will-change: width, height, opacity;
          }
        }
      }
    }
  }

  &--radio {
    .form-field__icon {
      border-radius: 50%;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $color-accent;
        transition-property: width, height, opacity;
        transition-duration: 0.5s;
        will-change: width, height, opacity;
      }
    }
  }

  &--focused {
    .form-field__icon {
      outline: 1px solid $color-accent;
    }
  }

  &--hidden {
    position: absolute;
    left: -99999px;
    top: -9999px;
    visibility: hidden;
    margin: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

.field {
  margin-bottom: 15px;
  display: block;

  &__text {
    margin-bottom: 5px;
  }
}

@keyframes autofill {
  to {
    background: transparent;
  }
}

.btn {
  display: block;
  width: 100%;
  max-width: 320px;
  border-radius: $brs;
  padding: 15px 10px;
  background-color: $color-primary;
  color: $color-white;
  font-size: $fz-small;
  text-transform: uppercase;
  font-weight: 500;
  border-color: transparent;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;

  @include media($width_md, 1) {
    &:hover,
    &:focus {
      background-color: $color-accent;
      transition: background-color 0.3s;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

.no-photo {
  padding: 15px;
  //background-color: $color-card;
  background-color: $color-border;
}

.vue-phone-number-input {
  width: 100%;
  max-width: 320px;

  input.country-selector__input,
  input.input-tel__input {
    //border: none;
    background-color: transparent;
  }
}
