@mixin media($width, $option: 0) {
  @if ($option==0) {
    @media (max-width: $width) {
      @content;
    }
  } @else if $option==1 {
    @media (min-width: $width + 1px) {
      @content;
    }
  }
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

@mixin triangle($color, $width, $dir) {
  $rotate: 0deg;

  @if ($dir== 'up') {
    $rotate: 0deg;
  } @else if ($dir== 'down') {
    $rotate: 180deg;
  } @else if ($dir== 'left') {
    $rotate: 90deg;
  } @else if ($dir== 'right') {
    $rotate: -90deg;
  }

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 #{$width} #{$width} #{$width};
  border-color: transparent transparent #{$color} transparent;
  transform: rotate($rotate);
}

@mixin text-ellipsis($rows) {
  display: -webkit-box;

  text-overflow: ellipsis;

  overflow: hidden;
  -webkit-line-clamp: $rows;
  -webkit-box-orient: vertical;
}
