<template lang="pug">
  header.main-header
    .main-header__wrapper.container
      nuxt-link.main-header__logo(to="/")
        svg-icon(name="logo")
      AppHeaderNav(
        @clicked="hideNavMob()"
        :class="isNavShowed ? 'isShow' : 'isHide'"
      )

      .main-header__contacts
        .main-header__contacts-wrapper
          a(:href="`tel:${callbackPhone}`").main-header__phone
            svg-icon(name="icon-phone")
            | {{ callbackPhone }}
          
          el-select(
            v-model="currentLang"
            v-if="showLangSwitch"
            placeholder="Язык"
            value-key="name"
            size="small"
            popper-class="lang-select__dropdown"
            @change="selectLang($event)"
          ).main-header__lang.main-header__lang_mob.lang-select
            template(slot="prefix")
              svg-icon(:name="currentLang.code")
            el-option(
              v-for="item in availableLocales"
              :key="item.code"
              :label="item.name"
              :value="item"
            ).lang-select__option
              svg-icon(:name="item.code").lang-select__icon
              span.lang-select__name
                | {{ item.name }}

          nuxt-link.main-header-profile(
            v-if="isAuth"
            to="/profile/"
          )
            .main-header-sign__icon
              svg-icon(name="user")
            | Профиль
          button.main-header-sign(
            v-else
            @click="$modal.show('sign-in')"
          )
            .main-header-sign__icon
              svg-icon(name="user")
            | Войти

        el-select(
          v-model="currentLang"
          v-if="showLangSwitch"
          placeholder="Язык"
          value-key="name"
          size="small"
          popper-class="lang-select__dropdown"
          @change="selectLang($event)"
        ).main-header__lang.lang-select
          template(slot="prefix")
            svg-icon(:name="currentLang.code")
          el-option(
            v-for="item in availableLocales"
            :key="item.code"
            :label="item.name"
            :value="item"
          ).lang-select__option
            svg-icon(:name="item.code").lang-select__icon
            span.lang-select__name
              | {{ item.name }}
            
      .hamburger(
        :class="isNavShowed ? 'forward' : 'backward'"
        @click="openNavMob()"
      )
        .line
        .line
        .line
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import AppHeaderNav from '~/components/AppUi/AppHeaderNav'
export default {
  name: 'MainHeader',
  components: {
    AppHeaderNav
  },
  data: () => ({
    isNavShowed: false,
    activeClass: false,
    callbackPhone: '8 (800) 707 98 31',
    cities: [
      {
        value: 'Beijing',
        label: 'Beijing1'
      },
      {
        value: 'Shanghai',
        label: 'Shanghai1'
      }
    ],
    currentLang: ''
  }),
  computed: {
    ...mapGetters({
      isAuth: 'auth/G_AUTHENTICATED'
    }),

    availableLocales() {
      return this.$i18n.locales
      // return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale)
    },

    currentLocal() {
      const current = this.$i18n.locales.filter(
        (i) => i.code === this.$i18n.locale
      )
      return current[0]
    },
    showLangSwitch() {
      return this.$route.name === 'catalog'
    }
  },
  // watch: {
  //   currentLang(val) {
  //     console.log(val)
  //   }
  // },
  created() {
    this.currentLang = this.currentLocal
  },
  methods: {
    ...mapActions({
      modalShow: 'A_MODAL_NAME'
    }),
    selectLang(val) {
      if (val) {
        this.$i18n.setLocale(val.code)
      } else {
        return false
      }
    },
    showModal(name) {
      this.modalShow({ name })
    },
    hideNavMob() {
      if (this.isNavShowed) {
        const bodyTag = document.querySelector('body')
        this.isNavShowed = false
        bodyTag.classList.remove('no-scroll')
      }
    },
    openNavMob() {
      const bodyTag = document.querySelector('body')
      this.isNavShowed = !this.isNavShowed

      if (this.isNavShowed) {
        bodyTag.classList.add('no-scroll')
      } else {
        bodyTag.classList.remove('no-scroll')
      }
    }
  }
}
</script>

<style lang="scss">
.lang-select {
  max-width: 130px;

  &__option {
    position: relative;
    padding-left: 60px;
  }

  &__icon {
    position: absolute;
    left: 10px;
    top: 0;
    width: 40px;
    height: 100%;
  }

  &__dropdown {
    .el-select-dropdown__item.selected {
      color: $color-accent;
    }
  }

  .el-input--prefix .el-input__inner {
    border: none;
    padding-left: 50px;
    padding-right: 15px;
    @include media($width_md, 0) {
      font-size: 0;
    }
  }

  .el-input__prefix {
    width: 40px;
    height: 100%;
  }

  .el-input__suffix {
    right: 0;
  }

  .el-input__icon {
    width: 15px;
  }
}

.main-header {
  position: relative;
  padding: 10px 0;

  &__lang {
    @include media($width_md, 0) {
      display: none;
    }

    &_mob {
      @include media($width_md, 0) {
        display: block;
        width: 38%;
      }

      @media (min-width: 1025px) {
        display: none;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 0;

    @include media($width-container, 0) {
      padding: 10px 15px;
    }

    @include media($width_md, 0) {
      align-items: flex-start;
    }

    @include media($width_xs_s, 0) {
      padding: 10px;
    }

    @include media(360px, 0) {
      padding-left: 0;
    }
  }

  &__logo {
    width: 140px;
    height: 40px;
    display: block;

    img {
      max-width: 100%;
      height: auto;
    }

    @include media($width-container, 0) {
      width: 140px / $width-container * 100vw;
      height: 40px / $width-container * 100vw;
    }

    @include media($width_md, 0) {
      width: 140px;
      height: 40px;
    }

    @include media(360px, 0) {
      width: 130px;
      height: 30px;
      align-self: flex-start;
      margin-right: auto;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;

    &-wrapper {
      @include media($width_md, 0) {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: flex-end;
        max-width: 170px;
      }

      @include media($width_xs_s, 0) {
        max-width: 155px;
      }
    }

    @include media($width_md, 0) {
      margin-left: auto;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    font-weight: 700;
    line-height: 18px;
    margin-left: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-primary;

    svg {
      width: 18px;
      height: 18px;
      margin-right: 5px;
    }

    @include media($width-container, 0) {
      margin-left: 35px / $width-container * 100vw;
    }

    @include media($width_md, 0) {
      margin-left: 0;
      width: 100%;
      text-align: right;
      justify-content: flex-end;
      margin-bottom: 5px;
      font-size: $fz-large;
    }

    @include media($width_xs_s, 0) {
      font-size: 16px;
    }

    @include media(370px, 0) {
      font-size: 13px;
    }
  }

  .hamburger {
    position: relative;
    width: $menu-width;
    height: $menu-height;
    margin-left: 25px;
    cursor: pointer;
    z-index: 101;

    .line {
      position: absolute;
      display: block;
      width: 100%;
      height: $line-height;
      background-color: $line-color;
      border-radius: $line-border-radius;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      transform-origin: 50% 50%;
      animation-fill-mode: both;
      animation-duration: 0.7s;

      &:nth-child(2) {
        top: calc(50% - #{$line-height} / 2);
        left: auto;
        right: 0;
        /*width: 90%;*/
      }

      &:nth-child(3) {
        top: calc(100% - #{$line-height});
      }
    }

    &.forward {
      .line {
        box-shadow: $line-shadow;
        animation-name: forward-one;

        &:nth-child(2) {
          animation-name: forward-two;
        }

        &:nth-child(3) {
          animation-name: forward-three;
        }
      }
    }

    &.backward {
      .line {
        animation-name: backward-one;
        animation-direction: reverse;

        &:nth-child(2) {
          animation-name: backward-two;
        }

        &:nth-child(3) {
          animation-name: backward-three;
        }
      }
    }

    @include media($width_md, 1) {
      display: none;
    }

    @include media($width_xs_s, 0) {
      margin-left: 15px;
      margin-right: 0;
    }
  }
}

.main-header-sign,
.main-header-profile {
  text-decoration: none;
  color: $color-black;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-top: 5px;
  display: flex;
  font-size: 15px;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
  line-height: 18px;
  outline: none;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-black;
    fill: $color-white;
    border-radius: 50%;

    padding-left: 4px;
    padding-right: 3px;
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }

  @include media($width_md, 0) {
    margin-left: 0;
    margin-top: 0;
    width: 62%;
    line-height: 32px;
  }

  // @include media($width_xs_s, 0) {
  //   font-size: 14px;
  // }
}
</style>
