<template lang="pug">
	section.news
		.container
			h1.section-title
				| Новости компании
			.news-list
				app-news-post(
					v-for="post in posts"
					:post="post"
					:key="post._id"
				)
</template>

<script>
import moment from 'moment'
import AppNewsPost from '~/components/AppUi/AppNewsPost'

export default {
  name: 'News',
  components: { AppNewsPost },
  layout: 'default',
  async asyncData({ store }) {
    const responce = await store.dispatch('admin/articles/fetchNews')
    const posts = responce.sort(function(a, b) {
      return moment(b.date) - moment(a.date)
    })
    return { posts }
  }
}
</script>

<style scoped lang="scss">
.news-list {
  display: flex;
  flex-flow: column nowrap;
}
</style>
