<template lang="pug">
  section.equipment
    .sunflower
      img(src="~/static/images/sunflower_big.png" srcset="~/static/images/sunflower_big@2x.png").sunflower-pic.sunflower-pic--big
    .container
      a(
        href="#"
        @click.prevent="backToEruipments(equipment.type)"
      ).equipment__back
        | Назад к оборудованию
      .equipment__wrapper
        .equipment__picture(v-if="equipment.imageSrc")
          img(:src="equipment.imageSrc" :alt="equipment.imageAlt")
        article.equipment__description
          div(v-html="equipment.content")
          a(href="#" @click.prevent="showParametrs()").equipments__show-params
            | Все характеристики
          transition(name="fade" tag="div" class="equipment__parametrs")
            div(v-if="isShowedParams" v-html="equipment.parametrs")
          footer(
            v-if="equipment.footer"
            v-html="equipment.footer"
          ).equipment-footer
          app-btn(@click.native="showPopup()")
            | Заказать оборудование
          app-btn(
            v-if="equipment.leasingFile"
            :linkFile="equipment.leasingFile"
          ).price-btn.price-btn--left
            | Посмотреть условия лизинга
          app-btn(
            v-else-if="!equipment.leasingFile && equipment.leasingLink"
            @click.native="goToLeasing()"
          ).price-btn.price-btn--left
            | Посмотреть условия лизинга
        transition(name="fade")
          modal-window(
            @modalShow="setPopupVisibility()"
            v-if="isModalVisible"
            :formName="equipment.title"
            :reachGoal="'oborudov'"
          )
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import AppBtn from '~/components/AppUi/AppBtn'
import AppPopup from '~/components/AppUi/AppPopup'
import AppPreloader from '~/components/AppUi/AppPreloader'

const ModalWindow = () => ({
  component: import('~/components/AppUi/AppPopup.vue'),
  loading: AppPreloader,
  timeout: 3000
})

export default {
  name: 'Equipment',
  components: { AppPopup, AppBtn, ModalWindow },
  layout: 'default',
  validate({ params }) {
    return Boolean(params.name)
  },
  async asyncData({ store, params, data }) {
    await store.dispatch('equipments/A_GET_EQUIPMENT_DATA_BY_NAME', params.name)
  },
  data: () => ({
    isModalVisible: false,
    isShowedParams: false
  }),
  computed: {
    ...mapGetters({
      equipment: 'equipments/G_EQUIPMENT'
    })
  },
  methods: {
    ...mapActions({
      getEquipment: 'equipments/A_GET_EQUIPMENT_DATA_BY_NAME'
    }),
    backToEruipments(category) {
      if (category && category.includes('rukas_1')) {
        this.$router.push(`/equipments/rukas_1`)
      } else {
        this.$router.push(`/equipments/${category}`)
      }
    },
    showPopup() {
      this.isModalVisible = true
    },
    setPopupVisibility(showed) {
      this.isModalVisible = showed
    },
    showParametrs() {
      this.isShowedParams = !this.isShowedParams
    },
    goToLeasing() {
      this.$router.push('/leasing')
    }
  }
}
</script>

<style lang="scss">
.equipment {
  position: relative;
  padding-top: 30px;

  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 22px;
  }

  &__wrapper {
    display: grid;
    gap: 60px;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);

    @include media($width_xs, 0) {
      gap: 20px / $width_xs * 100vw;
      padding: 20px / $width_xs * 100vw 0;
      grid-template-columns: repeat(1, 1fr);
    }

    @include media($width_xs_s, 0) {
      padding: 30px 0;
    }
  }

  &__picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 580px;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 580px;
      height: 580px;
      border-width: 100px;
      border-radius: 50%;
      border-color: $color-circles;
      border-style: solid;
      transform: translate(-50%, -50%);

      @include media($width-container, 0) {
        width: 580px / $width-container * 100vw;
        height: 580px / $width-container * 100vw;
        border-width: 100px / $width-container * 100vw;
      }

      @include media($width_xs, 0) {
        width: 580px / $width_xs * 100vw;
        height: 580px / $width_xs * 100vw;
        border-width: 100px / $width_xs * 100vw;
      }
    }

    img {
      position: relative;
      z-index: 1;
      max-width: 100%;
      height: auto;
    }

    @include media($width-container, 0) {
      min-height: 580px / $width-container * 100vw;
    }

    @include media($width_xs, 0) {
      margin: auto;
      max-width: 580px / $width_xs * 100vw;
      min-height: 580px / $width_xs * 100vw;
    }
  }

  &__description {
    display: flex;
    flex-flow: column nowrap;

    > .btn {
      @include media($width_xs_s, 0) {
        max-width: 100%;
      }
    }

    h5 {
      margin-bottom: 10px;
    }

    .section-title {
      margin-bottom: 22px;

      span {
        display: block;
        padding-right: 10%;
        text-transform: none;
      }
    }
  }

  &__back {
    display: inline-block;
    margin-bottom: 30px;
  }

  @include media($width_md, 0) {
    padding-top: 20px;
  }

  @include media($width_xs, 0) {
    padding: 20px / $width_xs * 100vw 0;
  }

  @include media($width_xs_s, 0) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

.equipments__wheat {
  display: none;
  position: absolute;
  top: 10%;
  left: 0;
  height: calc(320px / 1.5);
  width: calc(200px / 1.5);

  &-pic {
    position: absolute;
    right: 0;
    top: 0;

    &--1 {
      right: calc(74px / 1.5);
      top: calc(3px / 1.5);
      width: calc(21px / 1.5);
      height: calc(24px / 1.5);

      @include media($width-container, 0) {
        right: (74px / 1.5) / $width-container * 100vw;
        top: (3px / 1.5) / $width-container * 100vw;
        width: (21px / 1.5) / $width-container * 100vw;
        height: (24px / 1.5) / $width-container * 100vw;
      }

      @include media($width_xs, 0) {
        right: (74px / 1.3) / $width_xs * 100vw;
        top: (3px / 1.3) / $width_xs * 100vw;
        width: (21px / 1.3) / $width_xs * 100vw;
        height: (24px / 1.3) / $width_xs * 100vw;
      }
    }

    &--2 {
      right: calc(43px / 1.5);
      top: calc(-29px / 1.5);
      width: calc(14px / 1.5);
      height: calc(22px / 1.5);

      @include media($width-container, 0) {
        right: (43px / 1.5) / $width-container * 100vw;
        top: (-29px / 1.5) / $width-container * 100vw;
        width: (14px / 1.5) / $width-container * 100vw;
        height: (22px / 1.5) / $width-container * 100vw;
      }

      @include media($width_xs, 0) {
        right: (43px / 1.3) / $width_xs * 100vw;
        top: (-29px / 1.3) / $width_xs * 100vw;
        width: (14px / 1.3) / $width_xs * 100vw;
        height: (22px / 1.3) / $width_xs * 100vw;
      }
    }

    &--3 {
      top: calc(8px / 1.5);
      right: calc(18px / 1.5);
      width: calc(24px / 1.5);
      height: calc(29px / 1.5);

      @include media($width-container, 0) {
        top: (8px / 1.3) / $width-container * 100vw;
        right: (18px / 1.3) / $width-container * 100vw;
        width: (24px / 1.3) / $width-container * 100vw;
        height: (29px / 1.3) / $width-container * 100vw;
      }

      @include media($width_xs, 0) {
        top: (8px / 1.3) / $width_xs * 100vw;
        right: (18px / 1.3) / $width_xs * 100vw;
        width: (24px / 1.3) / $width_xs * 100vw;
        height: (29px / 1.3) / $width_xs * 100vw;
      }
    }
    &--big {
      right: calc(-240px / 1.5);
      height: calc(288px / 1.5);
      width: calc(444px / 1.5);

      @include media($width-container, 0) {
        right: (-240px / 1.5) / $width-container * 100vw;
        height: (288px / 1.5) / $width-container * 100vw;
        width: (444px / 1.5) / $width-container * 100vw;
      }

      @include media($width_xs, 0) {
        right: (-240px / 1.3) / $width_xs * 100vw;
        height: (288px / 1.3) / $width_xs * 100vw;
        width: (444px / 1.3) / $width_xs * 100vw;
      }
    }
  }
}

.sunflower {
  display: none;
  position: absolute;
  right: -100px;
  top: -100px;
  width: 200px;
  height: 200px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.equipment-footer {
  margin-top: 20px;
}
</style>
