<template lang="pug">
  div
    .layout-empty
      app-preloader
      nuxt
    main-footer(v-if="$route.name === 'landing'")
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import AppPreloader from '~/components/AppUi/AppPreloader'
import MainFooter from '~/components/Footer'
export default {
  name: 'Empty',
  components: { AppPreloader, MainFooter },
  data: () => ({
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 2000
        }
      }
    }
  }),
  computed: {
    ...mapGetters({
      error: 'G_ERROR'
    })
  },
  watch: {
    error(value) {
      this.$toast.error(
        value.response.data.message,
        'Ошибка',
        this.notificationSystem.options.error
      )
    }
  },
  mounted() {
    this.preloader({ load: false })
  },
  methods: {
    ...mapActions({
      preloader: 'A_PRELOADER_END'
    })
  }
}
</script>

<style lang="scss" scoped>
.layout-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
</style>
