<template lang="pug">
  article.about-company
    .container
      section.about-company-history
        h1.section-title
          | История нашего производства
        app-slider(data-aos="fade" :items="4" :gap="40" :autoplay="4000" className="four" :itemsArray="aboutImages" :lightBox="true" :breakpoints="sliderBreakpoints").about-company__slider
        .about-company__description
          .about-company__description-text
            p(data-aos="fade")
              | Рассказываем про революционные технологии жидкого комплексного питания растений. Внесение также можно сочетать даже с фунгицидной и инсектицидной обработкой. Наш растворный узел для удобрений позволяет растворять селитру, карбамид, сульфат аммония, моноаммоний фосфат, монокалий фосфат, микроэлементы;
            p(data-aos="fade")
              | Компания НАГРО была основана более 20 лет назад в городе Подольск, Московской области. Мы являемся ведущей российской компанией, которая производит оборудование для растворения и внесения удобрений. Мы запатентовали нашу уникальную технологию, которая называется «холодный молекулярный синтез». Эта технология используется в нашем растворном узле для приготовления жидких удобрений с концентрацией активного вещества от 30 до 40%. Наш растворный узел способен сократить ваши расходы на питание растений в два раза. КАС 32. ЖКУ. ЖСУ. СЗР. у себя в хозяйстве благодаря Растворному узлу NAGRO Другой флагман нашей компании - это микроэлементное комплексное удобрение  NAGRO, которое является полностью органическим и содержит 26 элементов, которые полностью удовлетворяют потребности растений в питании.
            p(data-aos="fade")
              | Группа компаний Nagro является пионером отечественного органического земледелия и имеет в своей копилке более чем двадцати летний багаж знаний полученный в результате кропотливой работы совместно с кафедрами ведущих аграрных вузов страны, таких как - МГУ им М.В. Ломоносова и Тимирязевская государственная академия, который с успехом применяет в аграрном секторе, как на территории Российской Федерации, так и за её пределами, а именно в странах ЕС и СНГ.
            p(data-aos="fade")
              | Продукция компании пользуется успехом в Европейском Союзе и полностью соответствует нормам, качеству и стандартам стран ЕС.
          .about-company__description-video
            app-video(
              videoLink='https://www.youtube.com/embed/je4-SDlvXZk'
            )
      section.about-company-certificates
        h2.section-title(data-aos="fade")
          | Сертификаты, благодарности
        transition-group(
          name="fade"
          tag="ul"
          class="about-company-certificates__list"
        )
          li.about-company-certificates__item(
            v-if="item.showed"
            v-for="(item, index) in certImages"
            :key="`cert_${index}`"
            @click.prevent="showLightBox(index)"
            data-aos="fade"
          )
            .about-company-certificates__item-overlay
              svg-icon(name="icon-search")
            img(
              v-lazy="item.src"
              :src="item.src"
              alt="index"
            )
        a(href="#" @click.prevent="showMore($event)")
          | Показать ещё
        client-only
          light-box(
            :images="certImages"
            ref="lightbox"
            :showThumbs="false"
            :show-caption="false"
            :show-light-box="false"
          )
            template(
              slot="close"
            )
              svg-icon(name="icon-close")
      section.about-company-mass-media
        h2.section-title(data-aos="fade")
          | О нас в сми
        .about-company-mass-media__wrapper
          .about-company-mass-media__video
            app-video(
              videoLink='https://www.youtube.com/embed/dEQcaGxq-JU'
            )
          .about-company-mass-media__video
            app-video(
              videoLink='https://www.youtube.com/embed/w3Wk5zKpHSI'
            )
          .about-company-mass-media__video
            app-video(
              videoLink='https://www.youtube.com/embed/2pft-25DqtU'
            )
          .about-company-mass-media__video
            app-video(
              videoLink='https://www.youtube.com/embed/hi3Ll5uBJR4'
            )
      section.about-company-agency
        h2.section-title(data-aos="fade")
          | Обширная сеть представительств
        ul.about-company-agency__list
          li.about-company-agency__item(data-aos="fade" v-for="(item, index) in representationList" :key="`agency_${index}`")
            | {{ item.address }}
        nuxt-link(to="/contacts")
          | Подробнее в контактах
</template>

<script>
import { mapGetters } from 'vuex'

import AppSlider from '~/components/AppUi/AppSlider'
import AppVideo from '~/components/AppUi/AppVideo'

export default {
  name: 'About',
  components: { AppSlider, AppVideo },
  data: () => ({
    sliderBreakpoints: {
      1280: {
        peek: 40,
        gap: 25
      },
      1024: {
        perView: 3,
        peek: 40,
        gap: 30
      },
      768: {
        perView: 2,
        peek: 40,
        gap: 30
      },
      550: {
        perView: 1,
        peek: 5,
        gap: 30
      }
    },
    isLightBox: false,
    certImages: [
      {
        src: require('~/static/images/cert_rukas.jpg'),
        showed: true,
        thumb: require('~/static/images/cert_rukas.jpg'),
        caption: '<html> <span>Изображение отсутствует или повреждено</span>'
      },
      {
        src: require('~/static/images/cert_rua.jpg'),
        showed: true,
        thumb: require('~/static/images/cert_rua.jpg'),
        caption: '<html> <span>Изображение отсутствует или повреждено</span>'
      },
      {
        src: require('~/static/images/diplom_02.jpg'),
        showed: true,
        thumb: require('~/static/images/diplom_02.jpg'),
        caption: '<html> <span>Изображение отсутствует или повреждено</span>'
      },
      {
        src: require('~/static/images/cert_02.jpg'),
        showed: true,
        thumb: require('~/static/images/cert_02.jpg'),
        caption: '<html> <span>Изображение отсутствует или повреждено</span>'
      }
    ]
  }),
  computed: {
    ...mapGetters({
      aboutImages: 'about/G_ABOUT_IMAGES'
    }),
    representationList() {
      return this.$store.getters.G_REPRESENTATION
    }
  },
  beforeCreate() {
    this.$store.dispatch('A_GET_REPRESENTATION_LIST', { updateList: false })
  },
  methods: {
    showMore(event) {
      this.certImages.map((item) => {
        if (!item.showed) item.showed = true
      })
      event.target.remove()
    },
    showLightBox(index) {
      this.$refs.lightbox.showImage(index)
    }
  }
}
</script>

<style lang="scss">
.about-company {
  padding-bottom: 60px;

  &__description {
    &-video {
      width: 80%;
      height: 450px;
      margin: 0 auto;
      margin-top: 48px;

      @include media($width_md, 0) {
        width: 100%;
      }
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  @include media($width_md, 0) {
    padding-bottom: 40px;
  }

  @include media($width_xs, 0) {
    padding-bottom: 30px;
  }

  @include media($width_xs_s, 0) {
    padding-bottom: 60px;
  }
}

section.about-company-history {
  overflow: visible;
}

.about-company-certificates {
  width: 100%;

  &__list {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    list-style: none;
    padding: 0;
    margin-bottom: 40px;

    @include media($width_md, 0) {
      gap: 40px / $width_md * 100vw;
    }

    @include media($width_xs, 0) {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      justify-content: center;
    }

    @include media($width_xs_s, 0) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    position: relative;
    border-radius: $brs;
    width: 290px;
    height: 410px;
    cursor: pointer;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &-overlay {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba($color-black, 0.45);
      transition: opacity 0.3s;

      svg {
        width: 40px;
        height: 40px;
        fill: transparent;
        transition: fill 0.5s;
      }
    }

    @include media($width_md, 1) {
      &:hover,
      &:focus {
        .about-company-certificates__item-overlay {
          opacity: 1;
          transition: opacity 0.3s;

          svg {
            fill: $color-white;
            transition: fill 0.5s;
          }
        }
      }
    }

    @include media($width-container, 0) {
      width: 270px / $width-container * 100vw;
      height: 386px / $width-container * 100vw;
    }

    @include media($width_xs, 0) {
      width: 100%;
      height: auto;
    }

    @include media($width_xs_s, 0) {
      width: 90%;
      margin: 0 auto;
    }
  }
}

.about-company-mass-media {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 62px;

    @include media($width_md, 0) {
      gap: 62px / $width_md * 100vw;
    }

    @include media($width_xs, 0) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__video {
    position: relative;
    width: 569px;
    height: 380px;
    border-radius: $brs;

    @include media($width-container, 0) {
      width: 569px / $width-container * 100vw;
      height: 380px / $width-container * 100vw;
    }

    @include media($width_xs, 0) {
      width: 100%;
      height: 380px / $width_xs * 100vw;
    }
  }
}

.about-company-agency {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 15px;
    list-style: none;
    padding: 0;
    margin-bottom: 40px;

    @include media($width_md, 0) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media($width_xs_s, 0) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    border-radius: $brs;
    background-color: #fafafa;
    border-left: 4px solid $color-primary;
    padding: 35px 40px 35px 20px;
    align-content: center;
  }
}

.about-comics {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 400px);
    grid-gap: 20px;
  }

  &__item {
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
</style>
