<template lang="pug">
  section.catalog
    .catalog__circle.catalog__circle--first
    .catalog__circle.catalog__circle--second
    .catalog__wheat
      img(src="~/static/images/wheat_1.png" srcset="~/static/images/wheat_1@2x.png").catalog__wheat-pic.catalog__wheat-pic--1
      img(src="~/static/images/wheat_2.png" srcset="~/static/images/wheat_2@2x.png").catalog__wheat-pic.catalog__wheat-pic--2
      img(src="~/static/images/wheat_3.png" srcset="~/static/images/wheat_3@2x.png").catalog__wheat-pic.catalog__wheat-pic--3
      img(src="~/static/images/wheat_big.png" srcset="~/static/images/wheat_big@2x.png").catalog__wheat-pic.catalog__wheat-pic--big
    .container
      h1.section-title
        | {{ $t('fertilizer.title') }}
      transition-group(
        name="fade"
        tag="div"
        class="catalog__grid"
      )
        .catalog-item(key="catalog_item_1")
          .catalog-item__pic
            img(src="images/catalog_bio.png" :alt="$t('fertilizer.bio.name')")
          .catalog-item__name {{ $t('fertilizer.bio.name') }}
          ul.catalog-item__description
            li(v-for="descr in $t('fertilizer.bio.list')")
              | {{ descr }}
          //v-if="isAuth"
          app-btn(
            linkFile="https://nagro.group/documents/price_udobrenya_nagro.pdf"
          )
            | {{ $t('fertilizer.download') }}
          //app-btn(
          //  v-else
          //  @click.native="showPopup()"
          //)
          //  | {{ $t('fertilizer.download') }}

        .catalog-item(key="catalog_item_2")
          .catalog-item__pic
            img(src="images/catalog_universal.png" :alt="$t('fertilizer.universal.name')")
          .catalog-item__name {{ $t('fertilizer.universal.name') }}
          ul.catalog-item__description
            li(v-for="descr in $t('fertilizer.universal.list')")
              | {{ descr }}
          app-btn(
            v-if="isAuth"
            linkFile="https://nagro.group/documents/price_udobrenya_nagro.pdf"
          )
            | {{ $t('fertilizer.download') }}
          app-btn(
            v-else
            @click.native="showPopup()"
          )
            | {{ $t('fertilizer.download') }}

        //- .catalog-item(v-if="item.showed" v-for="(item, index) in catalog" :key="`catalog_${index}`")
        //-   .catalog-item__pic
        //-     img(:src="item.src" alt="item.name")
        //-   .catalog-item__name {{ item.name }}
        //-   ul.catalog-item__description(v-if="item.descriptionList")
        //-     li(v-for="descr in item.descriptionList")
        //-       | {{ descr }}
        //-   app-btn(
        //-     v-if="isAuth"
        //-     linkFile="https://nagro.group/documents/price_udobrenya_nagro.pdf"
        //-   )
        //-     | Скачать прайс-лист
        //-   app-btn(
        //-     v-else
        //-     @click.native="showPopup()"
        //-   )
        //-     | Скачать прайс-лист
      //a(href="#" @click.prevent="showMore($event)")
        | Показать еще

      footer.catalog__footer
        h3(data-aos="fade")
          | {{ $t('fertilizer.distrib.title') }}
        h4(data-aos="fade")
          | {{ $t('fertilizer.distrib.subtitle') }}
        .catalog__distributor
          img(src="~/static/images/distributer.png" alt="Агропродукт Регион")
          span {{ $t('fertilizer.distrib.name') }}
        .catalog__distributor-contacts
          h4
            | {{ $t('fertilizer.distrib.contacts.title') }}
          span {{ $t('fertilizer.distrib.contacts.adress') }} - #[strong {{ $t('fertilizer.distrib.contacts.location') }}]
          span {{ $t('fertilizer.distrib.contacts.phone') }} - #[strong +7 (4712) 20-00-31]
          span E-mail - #[strong office@agroproductregion.ru]
          span {{ $t('fertilizer.distrib.contacts.site') }} - #[a(href="http://agroproductregion.ru/" target="_blank") {{ $t('fertilizer.distrib.contacts.name') }}]
</template>

<script>
import { mapGetters } from 'vuex'
import { TweenMax, TimelineMax } from 'gsap'
import AppBtn from '~/components/AppUi/AppBtn'

export default {
  name: 'Catalog',
  components: { AppBtn },
  data: () => ({
    isModalVisible: false,
    catalogName: '',
    catalog: [
      {
        src: require('~/static/images/catalog_bio.png'),
        name: 'НАГРО - Биоэнергетик',
        descriptionList: [
          'Повышение полевой всхожести до 99%',
          'Увеличение приживаемости всходов',
          'Увеличение энергии прорастания в 2 раза',
          'Увеличение развития корневой системы 3-10 раз'
        ],
        showed: true
      },
      {
        src: require('~/static/images/catalog_universal.png'),
        name: 'НАГРО - Универсальное (Концентрат)',
        descriptionList: [
          'Увеличивает урожай от 30 до 200%',
          'Повышает качество продукции',
          'Раскисляет почву',
          'Повышает плодородие почвы',
          'Снижает на 30-100% химические удобрения и СЗР',
          'Повышает сортность с/х продукции'
        ],
        showed: true
      }
    ]
  }),
  computed: {
    ...mapGetters({
      isAuth: 'auth/G_AUTHENTICATED'
    })
  },
  mounted() {
    const timelineWheat = new TimelineMax()
    const timelineCircle = new TimelineMax()

    timelineWheat.add([
      TweenMax.to('.catalog__wheat-pic--1', 0.5, {
        x: '-20px',
        y: '-15px'
      }),
      TweenMax.to('.catalog__wheat-pic--2', 1, {
        x: '0',
        y: '-30px'
      }),
      TweenMax.to('.catalog__wheat-pic--3', 0.5, {
        x: '20px',
        y: '-15px'
      }),
      TweenMax.to('.catalog__wheat-pic--big', 1, {
        x: '-25px',
        y: '25px'
      })
    ])

    timelineCircle.add([
      TweenMax.fromTo(
        '.catalog__circle--first',
        0.3,
        {
          scale: 0
        },
        {
          scale: 1
        }
      ),
      TweenMax.fromTo(
        '.catalog__circle--second',
        0.3,
        {
          scale: 0
        },
        {
          scale: 1
        }
      )
    ])

    const catalogScene = this.$scrollmagic
      .scene({
        offset: '700px',
        triggerElement: '.catalog',
        triggerHook: 0.6,
        duration: '60%'
      })
      .setTween(timelineCircle)

    const catalogScene2 = this.$scrollmagic
      .scene({
        offset: '0',
        triggerElement: '.catalog__footer',
        triggerHook: 0.5,
        duration: '65%'
      })
      .setTween(timelineWheat)

    this.$scrollmagic.addScene([catalogScene, catalogScene2])
  },
  methods: {
    showPopup() {
      this.$modal.show('sign-up')
    },
    setPopupVisibility(showed) {
      this.isModalVisible = showed
    },
    showMore(event) {
      this.catalog.map((item) => {
        if (!item.showed) item.showed = true
      })
      event.target.remove()
    }
  }
}
</script>

<style lang="scss">
.catalog {
  position: relative;
  min-height: 100%;

  &__grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 30px;

    @include media($width_xs, 0) {
      justify-content: space-between;
    }
  }

  &__footer {
    max-width: 65%;
    padding-top: 40px;
    padding-bottom: 110px;

    h3 {
      margin-bottom: 10px;
    }

    h4 {
      margin-bottom: 10px;
    }

    @include media($width-container, 0) {
      padding-top: 40px / $width-container * 100vw;
    }

    @include media($width_xs, 0) {
      padding-top: 40px;
      max-width: 80%;
    }

    @include media(680px, 0) {
      padding-top: 40px;
      max-width: 90%;
    }

    @include media($width_xs_s, 0) {
      position: relative;
      padding-bottom: 120px;
      z-index: 2;
      max-width: 100%;
    }
  }

  &__distributor {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 22px;

    span {
      display: block;
      font-size: 28px;
      font-weight: 600;

      @include media($width_xs_s, 0) {
        font-size: 22px;
        text-align: center;
      }
    }

    &-contacts {
      display: flex;
      flex-flow: column nowrap;

      h4 {
        margin-bottom: 6px;
      }

      span {
        display: block;
      }
    }

    @include media($width_xs_s, 0) {
      flex-flow: column nowrap;
      justify-content: center;
    }
  }

  &__circle {
    position: absolute;
    background-color: $color-circles;
    border-radius: 50%;

    &--first {
      right: 375px;
      bottom: 195px;
      width: 140px;
      height: 140px;

      @include media($width-container, 0) {
        right: 375px / $width-container * 100vw;
        bottom: 195px / $width-container * 100vw;
        width: 140px / $width-container * 100vw;
        height: 140px / $width-container * 100vw;
      }
    }

    &--second {
      right: 162px;
      bottom: 410px;
      width: 80px;
      height: 80px;

      @include media($width-container, 0) {
        right: 162px / $width-container * 100vw;
        bottom: 410px / $width-container * 100vw;
        width: 80px / $width-container * 100vw;
        height: 80px / $width-container * 100vw;
      }
    }

    @include media($width_xs, 0) {
      display: none;
    }
  }

  &__wheat {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 320px;
    width: 200px;

    &:before {
      content: '';
      position: absolute;
      right: -100px;
      top: 37px;
      width: 190px;
      height: 190px;
      border: 30px solid #ffd649;
      border-radius: 50%;

      @include media($width-container, 0) {
        right: -100px / $width-container * 100vw;
        top: 37px / $width-container * 100vw;
        width: 190px / $width-container * 100vw;
        height: 190px / $width-container * 100vw;
        border-width: 30px / $width-container * 100vw;
      }

      @include media($width_xs_s, 0) {
        right: calc(-100px / 1.3);
        top: calc(37px / 1.3);
        width: calc(190px / 1.3);
        height: calc(190px / 1.3);
        border-width: calc (15px / 1.3);
      }
    }

    &-pic {
      position: absolute;
      right: 0;
      top: 0;

      &--1 {
        right: 74px;
        top: 3px;
        width: 21px;
        height: 24px;

        @include media($width-container, 0) {
          right: 74px / $width-container * 100vw;
          top: 3px / $width-container * 100vw;
          width: 21px / $width-container * 100vw;
          height: 24px / $width-container * 100vw;
        }

        @include media($width_xs_s, 0) {
          right: calc(74px / 1.3);
          top: calc(3px / 1.3);
          width: calc(21px / 1.3);
          height: calc(24px / 1.3);
        }
      }
      &--2 {
        right: 43px;
        top: -29px;
        width: 14px;
        height: 22px;

        @include media($width-container, 0) {
          right: 43px / $width-container * 100vw;
          top: -29px / $width-container * 100vw;
          width: 14px / $width-container * 100vw;
          height: 22px / $width-container * 100vw;
        }

        @include media($width_xs_s, 0) {
          right: calc(43px / 1.3);
          top: calc(-29px / 1.3);
          width: calc(14px / 1.3);
          height: calc(22px / 1.3);
        }
      }
      &--3 {
        top: 8px;
        right: 18px;
        width: 24px;
        height: 29px;

        @include media($width-container, 0) {
          top: 8px / $width-container * 100vw;
          right: 18px / $width-container * 100vw;
          width: 24px / $width-container * 100vw;
          height: 29px / $width-container * 100vw;
        }

        @include media($width_xs_s, 0) {
          top: calc(8px / 1.3);
          right: calc(18px / 1.3);
          width: calc(24px / 1.3);
          height: calc(29px / 1.3);
        }
      }
      &--big {
        right: -240px;
        height: 288px;
        width: 444px;

        @include media($width-container, 0) {
          right: -240px / $width-container * 100vw;
          height: 288px / $width-container * 100vw;
          width: 444px / $width-container * 100vw;
        }

        @include media($width_xs_s, 0) {
          right: calc(-240px / 1.3);
          height: calc(288px / 1.3);
          width: calc(444px / 1.3);
        }
      }
    }

    @include media($width-container, 0) {
      height: 320px / $width-container * 100vw;
      width: 200px / $width-container * 100vw;
    }

    @include media($width_xs_s, 0) {
      bottom: -30px;
      height: calc(320px / 1.3);
      width: calc(200px / 1.3);
    }
  }
}

.catalog-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: $color-card;
  padding: 15px 30px;
  width: 35%;
  margin: 22px;

  &:first-of-type {
    margin-left: 0;
  }

  a.btn,
  button.btn,
  .price-btn {
    margin-top: auto;
    max-width: 100% !important;
  }

  .price-btn {
    margin-top: 1rem;
  }

  &__pic {
    display: flex;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 0 auto;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__name {
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
  }

  &__description {
    padding: 0;
    list-style: none;
    font-size: $fz-small;
    margin-bottom: 15px;
    width: 100%;
  }

  &__prices {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    align-self: flex-end;
    margin-top: auto;

    table {
      width: 100%;
      border-collapse: collapse;

      tr {
        border-bottom: 1px solid $color-primary;

        &:last-of-type {
          border-bottom: none;
        }
      }

      td {
        padding: 5px 0;
        &:not(:first-of-type) {
          text-align: right;
        }
      }
    }

    svg {
      margin-left: 5px;
    }
  }

  @include media($width_md, 0) {
    width: 43%;
  }

  @include media($width_xs, 0) {
    margin: 0;
    width: 48%;
  }

  @include media($width_xs_s, 0) {
    display: block;
    width: 100%;
    margin: 0;
  }
}
</style>
