<template lang="pug">
  section.contacts
    .contacts__circle.contacts__circle--first
    .contacts__circle.contacts__circle--second
    .contacts__wrapper.container
      .contacts__left
        .contacts__chilli
          img(src="~/static/images/chilli.png" srcser="~/static/images/chilli@2x.png" alt="")
        h1.section-title(data-aos="fade")
          | Центральный офис
        ul.contacts-list.contacts-list--central
          li(v-for="(item, index) in contactsList" :key="`contacts_central_${index}`").contacts-list__item
            a(v-if="item.phone" :href="`tel:${item.phone}`").contacts-list__link
              svg-icon(name="icon-phone").icon-phone
              | {{ item.phone }}
            span(v-if="item.descr")
              | {{item.descr}}
            a(v-else-if="item.mail" :href="`mailto:${item.mail}`").contacts-list__link.contacts-list__link--mail
              svg-icon(name="icon-mail").icon-mail
              | {{ item.mail }}
            span(v-else-if="item.address").contacts-list__span
              svg-icon(name="icon-geo").icon-geo
              | {{ item.address }}
        app-btn(@click.native="showPopup()")
          | ЗАКАЗАТЬ ЗВОНОК
      .contacts__right
        h2.section-title(data-aos="fade")
          | Представительства
        transition-group(
          name="fade"
          tag="ul"
          class="contacts-list contacts-list--representation"
        )
          li(
            v-if="item.showed"
            v-for="(item, index) in representationList"
            :key="`contacts_representation_${index}`"
          ).contacts-list__item

            p.contacts-list__link.contacts-list__link--map
              svg-icon(name="icon-geo").icon-geo
              | {{ item.address }}

            a(:href="`tel:${item.phone}`").contacts-list__link
              svg-icon(name="icon-phone").icon-phone
              | {{ item.phone }}

            img(
              v-if="item.logo"
              :src="`images/${item.logo}`"
            ).contacts-list__logo

        a(href="#" @click.prevent="showMore($event)")
          | Полный список
    .contacts-map
      yandex-map(
        :coords="coords"
        :zoom="16"
        :scroll-zoom="false"
      )
        ymap-marker(
          marker-id="123"
          :coords="coords"
          :icon="markerIcon"
        )
    transition(name="fade")
      modal-window(@modalShow="setPopupVisibility()" v-if="isModalVisible")
</template>

<script>
import { TweenMax, TimelineMax } from 'gsap'
import AppBtn from '~/components/AppUi/AppBtn'
import AppPreloader from '~/components/AppUi/AppPreloader'

const ModalWindow = () => ({
  component: import('~/components/AppUi/AppPopup.vue'),
  loading: AppPreloader,
  timeout: 3000
})
export default {
  name: 'Contacts',
  components: { AppBtn, ModalWindow },
  data: () => ({
    coords: [55.474505, 37.553046],
    markerIcon: {
      layout: 'default#imageWithContent',
      imageHref: require('~/static/images/svg/src/icon_geo.svg'),
      imageSize: [50, 73],
      imageOffset: [-22, -80],
      // content: 'МО, г. Подольск, ул.Рязановское шоссе 10',
      contentOffset: [0, 15]
      // contentLayout: '<div>$[properties.iconContent]</div>'
    },
    isModalVisible: false,
    contactsList: [
      {
        phone: '8 (800) 707 98 31',
        descr: '(звонок по России бесплатный)'
      },
      {
        phone: '8 (800) 707-96-81',
        descr: '(сервисная служба)'
      },
      {
        phone: '8 (977) 730 20 42'
      },
      {
        mail: 'info@nagro.group'
      },
      {
        address: 'г. Москва, Рязановское шоссе 16 литера Б'
      }
    ]
  }),
  computed: {
    representationList() {
      return this.$store.getters.G_REPRESENTATION
    }
  },
  beforeCreate() {
    this.$store.dispatch('A_GET_REPRESENTATION_LIST', { updateList: false })
  },
  mounted() {
    const timelineChilli = new TimelineMax()
    const timelineCircleFirst = new TimelineMax()
    const timelineCircleSecond = new TimelineMax()

    timelineCircleFirst.fromTo(
      '.contacts__circle--first',
      0.8,
      { x: 100 },
      { x: 0 }
    )

    timelineCircleSecond.fromTo(
      '.contacts__circle--second',
      0.8,
      { scale: 0 },
      { scale: 1 }
    )

    timelineChilli.add([
      TweenMax.to('.contacts__chilli', 0.5, {
        x: '20px',
        y: '15px'
      })
    ])

    const contactsScene = this.$scrollmagic
      .scene({
        offset: '0',
        triggerElement: '.contacts',
        triggerHook: 0.15,
        duration: '80%'
      })
      .setTween(timelineChilli)

    this.$scrollmagic.addScene([contactsScene])
  },
  methods: {
    showPopup() {
      this.isModalVisible = true
    },
    setPopupVisibility(showed) {
      this.isModalVisible = showed
    },
    showMore(event) {
      this.$store.dispatch('A_GET_REPRESENTATION_LIST', { updateList: true })
      event.target.remove()
    },
    onClick(e) {
      this.coords = e.get('coords')
    }
  }
}
</script>

<style lang="scss">
.contacts {
  position: relative;
  padding-bottom: 0;

  .section-title {
    @include media($width_xs, 0) {
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 120px;

    @include media($width_xs, 0) {
      padding-bottom: 40px;
      grid-template-columns: repeat(1, 100%);
    }
  }

  &__chilli {
    position: absolute;
    top: 350px;
    left: -70px;
    width: 159px;
    height: 103px;

    img {
      max-width: 100%;
      height: auto;
    }

    @include media(1400px, 0) {
      left: -30px / 1400px * 100vw;
    }

    @include media($width-container, 0) {
      left: 0;
    }

    @include media($width_xs, 0) {
      top: 150px;
      left: 80%;
    }

    @include media($width_xs_s, 0) {
      width: calc(159px / 1.2);
      height: calc(103px / 1.2);
      top: 60px;
      left: auto;
      right: 0;
    }
  }

  &__left {
    position: relative;

    @include media($width_xs, 0) {
      margin-bottom: 40px;
    }
  }

  &__circle {
    position: absolute;
    border-radius: 50%;
    background-color: $color-circles;

    &--first {
      right: -(170px / 2);
      top: 15px;
      width: 150px;
      height: 150px;

      @include media($width-container, 0) {
        right: -(170px / $width-container * 100vw / 2);
        top: 15px / $width-container * 100vw;
        width: 150px / $width-container * 100vw;
        height: 150px / $width-container * 100vw;
      }
    }

    &--second {
      right: 185px;
      top: 40px;
      width: 61px;
      height: 61px;

      @include media($width-container, 0) {
        right: 185px / $width-container * 100vw;
        top: 40px / $width-container * 100vw;
        width: 61px / $width-container * 100vw;
        height: 61px / $width-container * 100vw;
      }
    }
  }
}

.contacts-list {
  position: relative;
  margin-bottom: 40px;
  padding-left: 0;
  list-style: none;

  .icon-phone {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-top: 2px;
  }

  .icon-mail {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-top: 2px;
  }

  .icon-geo {
    width: 11px;
    height: 16px;
    margin-right: 5px;
    margin-bottom: 2px;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }

  &__logo {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 66px;
    height: 40px;
    object-fit: cover;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
    color: $color-primary;

    &--mail {
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      color: $color-accent;
    }

    &--map {
      display: block;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 5px;

      .icon-geo {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  &__span {
    display: flex;
    align-items: center;
  }

  &--central {
    .contacts-list__link {
      + span {
        font-size: $fz-small;
      }
    }
  }

  &--representation {
    .contacts-list__item {
      position: relative;
      padding: 15px;
      padding-right: 90px;
      background-color: $color-card;
    }

    .contacts-list__span {
      margin-bottom: 5px;
    }
  }
}

.contacts-map {
  width: 100%;
  height: 600px;

  .ymap-container {
    padding: 0;
    height: 100%;
  }

  @include media($width_xs_s, 0) {
    height: 350px;
  }
}
</style>
