<template lang="pug">
  .element-ui-test
    .container
      h1
        | Отправка смс с формы
      p
        | {{ getRandomIntInclusive(1000, 9999) }}
      el-button(@click.native="sendSMS()")
        | Send SMS
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'ElementUi',
  data: () => ({
    imageUrl: ''
  }),
  methods: {
    ...mapActions({
      smsSendller: 'mail/A_SEND_SMS'
    }),
    sendSMS() {
      this.$modal.show('sign-up')
      // const number = this.getRandomIntInclusive(1000, 9999)
      // const message = {
      //   to: '+79999734758',
      //   body: `Код подтверждения для nagro.group ${number}`
      // }
      //
      // this.smsSendller(message)
    },
    getRandomIntInclusive(min, max) {
      min = Math.ceil(min)
      max = Math.floor(max)
      return Math.floor(Math.random() * (max - min + 1)) + min // Максимум и минимум включаются
    },
    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw)
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG) {
        this.$message.error('Avatar picture must be JPG format!')
      }
      if (!isLt2M) {
        this.$message.error('Avatar picture size can not exceed 2MB!')
      }
      return isJPG && isLt2M
    }
  }
}
</script>

<style lang="scss" scoped>
.element-ui-test {
  padding: 100px 0;
}
</style>
