<template>
  <div class="container thisForm">
    <form @submit.prevent="submitForm()">
      <input v-model="name" name="name" type="text" placeholder="name" />
      <input v-model="email" name="email" type="email" placeholder="email" />
      <input v-model="msg" name="msg" type="text" placeholder="message" />
      <button type="submit">Send</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      focusedElement: '',
      name: '',
      email: '',
      msg: '',
      submitting: false,
      isSubmitted: false,
      error: false
    }
  },
  methods: {
    async submitForm() {
      this.submitting = true
      this.error = false
      try {
        await this.$axios.$post('api/contact', {
          name: this.name,
          email: this.email,
          msg: this.msg
        })
        this.submitting = false
        this.isSubmitted = true
        await new Promise((resolve) => setTimeout(resolve, 2500))
      } catch (e) {
        this.submitting = false
        this.error = true
        // eslint-disable-next-line no-console
        console.error(e)
      }
    }
  }
}
</script>

<style lang="scss">
.thisForm {
  padding: 200px 0;
}
</style>
