<template lang="pug">
  div
    section.promo
      .promo__overlay
      .container
        svg-icon(name="logo").logo
        h1.promo__title
          | Производим растворные узлы для приготовления растворов средств защиты растений
        .promo__picture
          img(src="~static/images/MS60.png" alt="")
    .landing-content.container
      h2.land-title
        | Наше оборудование
      div(
        v-for="(item, index) in equipmentTabs"
        :key='index'
        data-aos="fade"
      ).equipment-section
        .equipment-section__pic
          img(:src="item.imageSrc" :alt="item.value")
        article.equipment-section__text
          div(v-html="item.content")
          //a(href="#" @click.prevent="showParametrs()").equipment__show-params
            | Характеристики
          //transition(name="fade" tag="div" class="equipment__parametrs")
            div(v-if="isShowedParams" v-html="item.parametrs")
          div(v-html="item.parametrs")
          footer(v-html="item.footer")
          //- strong.equipment-price(data-aos="fade")
            | Стоимость: уточняйте
            //- svg-icon(name="icon-ruble")
          app-btn(@click.native="showPopup(item.title)")
            | Заказать {{ item.title }}
    transition(name="fade")
      modal-window(@modalShow="setPopupVisibility()" v-if="isModalVisible" :formName="formNameModal")
</template>

<script>
// import AppTooltip from '~/components/AppUi/AppTooltip'
import { mapGetters, mapActions } from 'vuex'
import AppBtn from '~/components/AppUi/AppBtn'
import AppPreloader from '~/components/AppUi/AppPreloader'
// import AppField from '~/components/AppUi/AppField'
// import AppSlider from '~/components/AppUi/AppSlider'

const ModalWindow = () => ({
  component: import('~/components/AppUi/AppPopup.vue'),
  loading: AppPreloader,
  timeout: 3000
})

export default {
  components: {
    AppBtn,
    ModalWindow
  },
  layout: 'empty',
  data: () => ({
    isModalVisible: false,
    isShowedParams: false,
    formNameModal: ''
  }),
  computed: {
    ...mapGetters({
      currentTab: 'ui/getCurrentTab',
      equipmentTabs: 'equipments/G_EQUIPMENT'
    })
  },
  created() {
    this.getEquipmentList(true)
  },
  methods: {
    ...mapActions({
      getEquipmentList: 'equipments/A_GET_EQUIPMENT_DATA'
    }),
    showPopup(titleModal) {
      this.isModalVisible = true
      this.formNameModal = titleModal
    },
    showParametrs() {
      this.isShowedParams = !this.isShowedParams
    },
    setPopupVisibility(showed) {
      this.isModalVisible = showed
    }
  }
}
</script>

<style lang="scss">
.land-title {
  text-align: center;
  text-transform: uppercase;
  margin: 60px 0;

  @include media($width_xs_s, 0) {
    font-size: 32px;
    margin: 40px 0;
  }
}

.promo {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('~static/images/promo_rur.jpg');
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;

  img {
    max-width: 100%;
    height: auto;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.35);
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 15px;
    text-shadow: 3px 3px 0 rgba($color-black, 0.6);

    @include media($width_xs_s, 0) {
      font-size: 32px;
    }
  }

  .container {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}

.equipment-section {
  display: flex;
  flex-flow: row nowrap;

  .equipment__list {
    margin: 10px 0 !important;
    list-style: none !important;
    padding-left: 0 !important;
  }

  &:nth-child(2n) {
    flex-flow: row-reverse nowrap;

    @include media($width_md, 0) {
      flex-flow: column nowrap;
    }
  }

  &:not(:last-child) {
    margin-bottom: 60px;
  }

  &__pic {
    width: 560px;

    img {
      max-width: 100%;
      height: auto;
    }

    @include media($width_md, 0) {
      width: 100%;
      text-align: center;
    }
  }

  &__text {
    padding-left: 30px;
    width: calc(100% - 560px);

    @include media($width_md, 0) {
      width: 100%;
      padding-left: 0;
    }

    @include media($width_xs_s, 0) {
      text-align: center;

      .btn {
        margin: 0 auto;
      }
    }
  }

  @include media($width_md, 0) {
    flex-flow: column nowrap;
  }
}

.landing-content {
  padding-bottom: 120px;

  @include media($width_xs_s, 0) {
    padding-bottom: 80px;
  }
}
</style>
