<template>
  <section>
    <h1>Выход</h1>
  </section>
</template>

<script>
export default {
  name: 'Logout',
  beforeCreate() {
    this.$store.dispatch('auth/A_LOGOUT')
    this.$router.push('/')
  }
}
</script>

<style lang="scss" scoped></style>
