<template lang="pug">
  section.ui-kit
    // app-preloader
    .ui-kit__top
      form(@submit.prevent).ui-kit__form
        AppBtn(@click.native="showPopup()")
          | Заказать звонок
        AppField(
          type="tel"
          placeholder="Введиите ваш номер телефона"
        )
        AppField(
          type="email"
          placeholder="Введите ваш email"
        )
        AppField(
          type="checkbox"
          placeholder="Согласен на обработку персональных данных"
        )
        AppField(
          type="checkbox"
          placeholder="Согласен на обработку персональных данных"
        )
        AppField(
          type="radio"
          name="radio_1"
          placeholder="Выберите период"
        )
        AppField(
          type="radio"
          name="radio_1"
          placeholder="Выберите период 2"
        )
      .ui-kit__text
        AppBtn(@click.native="showPopup()" ref="button")
          | Заказать звонок
        h1
          | H1 Заголовок
        h2
          | H2 Заголовок
        h3
          | H3 Заголовок
        h4
          | H4 Заголовок
        h5
          | H5 Заголовок
        h6
          | H6 Заголовок
        p
          | #[strong Обычный текст.] Классический текст #[em Lorem Ipsum,] используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" #[strong Цицерона] и их английский перевод, сделанный H. Rackham, 1914 год.
        p.small-text
          | #[strong Обычный текст.] Классический текст #[em Lorem Ipsum,] используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" #[strong Цицерона] и их английский перевод, сделанный H. Rackham, 1914 год.
        a(href="#") Обычная ссылка
    app-slider(:items="3", dots=false, center=true)
    transition(name="fade")
      modal-window(@modalShow="setPopupVisibility()" v-if="isModalVisible")
</template>

<script>
import AppBtn from '~/components/AppUi/AppBtn'
import AppField from '~/components/AppUi/AppField'
import AppPreloader from '~/components/AppUi/AppPreloader'
import AppSlider from '~/components/AppUi/AppSlider'

const ModalWindow = () => ({
  component: import('~/components/AppUi/AppPopup.vue'),
  loading: AppPreloader,
  timeout: 3000
})

export default {
  components: {
    AppSlider,
    AppPreloader,
    AppBtn,
    AppField,
    ModalWindow
  },
  layout: 'ui-kit',
  data() {
    return {
      isModalVisible: false
    }
  },
  methods: {
    showPopup() {
      this.isModalVisible = true
    },
    setPopupVisibility(showed) {
      this.isModalVisible = showed
    }
  }
}
</script>

<style lang="scss">
.ui-kit {
  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__text {
    max-width: 50%;
  }

  .three-carousel {
    margin: 20px 0;
  }
}
</style>
