<i18n lang="yaml">
ru:
  title: "Акция"
  subtitle: "Оставьте Ваши данные и наши менеджеры свяжутся с Вами в ближайшее время."
  recovery: "Получить скидку"
  fields:
    name: "Имя"
    phone: "Телефон"
    password: "Пароль"
</i18n>
<template>
  <modal
    name="actions-callback"
    transition="pop-out"
    :width="400"
    :height="'auto'"
    :classes="['actions-callback']"
    :adaptive="true"
  >
    <validation-observer
      ref="actionsObserver"
      tag="form"
      class="actions-callback__form"
      @submit.prevent="send()"
    >
      <div class="popup-close" @click="$modal.hide('actions-callback')">
        <svg-icon name="icon-close"></svg-icon>
      </div>

      <h5 class="popup-title">
        {{ $t('title') }}
      </h5>
      <p class="popup-subtitle">
        {{ $t('subtitle') }}
      </p>

      <app-form
        form-ref="actionsCallback"
        form-name="Акции слайдер"
        form-btn-text="Получить скидку"
        :form-fields="['name', 'phone', 'email']"
        class="popup-form"
      ></app-form>
    </validation-observer>
  </modal>
</template>

<script>
import AppForm from '~/components/AppUi/AppForm'

export default {
  name: 'ActionsCallback',
  components: {
    AppForm
  },
  nuxtI18n: {
    locales: ['ru']
  },
  data: () => ({
    formData: {
      name: '',
      phone: '',
      email: ''
    },
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 4000
        }
      }
    }
  })
}
</script>

<style lang="scss">
.actions-callback {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 25px 0;

  &__form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__footer {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }

  .form-field-wrapper {
    width: 100%;
  }

  .el-dialog {
    max-width: 500px;
  }
}
</style>
