<i18n lang="yaml">
ru:
  title: "Зарегистрироваться"
  subtitle: "Получить доступ ко всем ресурсам на сайте"
  fields:
    name: "Имя"
    phone: "Телефон"
    password: "Пароль"
    code: "Код подтверждения"
  phone_field:
    country: "Код страны"
    error: "Ошибка"
    field_label: "Номер телефона"
    example: "Пример:"
  alredy: "Уже есть аккаунт?"
  signin: "Войти"
  signup: "Регистрация"
  send_sms: "Получить код"
  confirm: "Подтвердить телефон"
cn:
  title: "注册"
  subtitle: "授权用户有权访问所有资源"
  fields:
    name: "姓名"
    phone: "电话"
    password: "密码"
    code: "Код подтверждения"
  alredy: "已经有一个帐户？"
  signin: "输入"
  signup: "注册"
  send_sms: "Получить код"
  confirm: "Подтвердить телефон"
</i18n>
<template>
  <modal
    name="sign-up"
    transition="pop-out"
    :width="400"
    :height="'auto'"
    :classes="['sign-up']"
    @before-close="beforeClose()"
  >
    <validation-observer
      ref="signUpForm"
      v-loading="loading"
      tag="form"
      class="sign-up__form"
      @submit.prevent="signUp()"
    >
      <div class="popup-close" @click="$modal.hide('sign-up')">
        <svg-icon name="icon-close"></svg-icon>
      </div>

      <h5 class="popup-title">
        {{ $t('title') }}
      </h5>
      <p class="popup-subtitle">
        {{ $t('subtitle') }}
      </p>

      <transition-group
        v-show="step === 1"
        name="el-fade-in"
        class="sign-up__step"
        tag="div"
      >
        <div
          key="step_1"
          class="form-field form-field--focused form-field--phone"
        >
          <span class="form-field__text form-field__text--focused"
            >Телефон</span
          >
          <VuePhoneNumberInput
            v-model="phone"
            :translations="{
              countrySelectorLabel: $t('phone_field.country'),
              countrySelectorError: $t('phone_field.error'),
              phoneNumberLabel: $t('phone_field.field_label'),
              example: $t('phone_field.example')
            }"
            default-country-code="RU"
            :border-radius="0"
            no-example
            @update="onPhoneUpdate($event)"
          />
          <span class="form-field__error">{{ phoneError }}</span>
        </div>

        <app-btn
          v-if="showConfirmBtn"
          key="step_1_1"
          type="button"
          class="confirm-phone"
          @click.native="sendSMS(user.login)"
        >
          {{ $t('send_sms') }}
        </app-btn>

        <app-field
          v-if="showCode"
          key="step_1_2"
          v-model="user.code"
          :validation="{ required: true }"
          center
          type="number"
          name="code"
          :placeholder="`${$t('fields.code')}`"
          class="code-field"
        >
          <template #label-inner>
            <div class="form-field__option">
              <a
                v-if="isResend"
                href="#"
                class="form-field__link"
                @click.prevent="sendSMS(user.login)"
              >
                Выслать код
              </a>
              <span v-else>
                Выслать код повторно через: {{ timerCount }}с.
              </span>
            </div>
          </template>
        </app-field>
      </transition-group>

      <transition-group
        v-show="step === 2"
        name="el-fade-in"
        class="sign-up__step"
        tag="div"
      >
        <app-field
          key="step_2_1"
          v-model="user.name"
          :validation="{ required: true }"
          center
          type="text"
          :placeholder="$t('fields.name')"
        />

        <app-field
          key="step_2_2"
          v-model="user.email"
          :validation="{ required: true }"
          center
          type="email"
          name="email"
          placeholder="Email"
        />

        <app-field
          key="step_2_3"
          v-model="user.password"
          :validation="{ required: true, min: 6 }"
          type="password"
          center
          :placeholder="$t('fields.password')"
        />
      </transition-group>

      <footer class="sign-up__footer">
        <app-btn v-if="showSignUpBtn" type="submit" class="login__submit">
          {{ $t('signup') }}
        </app-btn>

        <div class="sign-up__sign-in">
          {{ $t('alredy') }} <br />

          <a href="#" @click.prevent="openSignIn()">
            {{ $t('signin') }}
          </a>
        </div>
      </footer>
    </validation-observer>
  </modal>
</template>

<script>
import { mapActions } from 'vuex'
import AppBtn from '~/components/AppUi/AppBtn'
import AppField from '~/components/AppUi/AppField'
import global from '~/mixins/global.mixin'

export default {
  name: 'SignUp',
  components: {
    AppBtn,
    AppField
  },
  mixins: [global],
  data: () => ({
    user: {
      name: '',
      login: '',
      password: '',
      email: '',
      code: ''
    },
    loading: false,
    phone: '',
    isPhoneValid: false,
    phoneError: '',
    phoneConfirmed: false,
    showCode: false,
    isCodeSend: false,
    timer: null,
    timerCount: 120,
    step: 1,
    isResend: false
  }),
  computed: {
    showConfirmBtn() {
      return this.isPhoneValid && !this.isCodeSend
    },
    showSignUpBtn() {
      return this.step === 2
    }
  },
  watch: {
    timerCount(time) {
      if (time === 0) {
        this.stopTimer()
      }
    },
    'user.code'(val) {
      if (val.length === 4) {
        this.checkCandidate({
          id: this.$cookies.get('candidateId'),
          code: val
        })
          .then((response) => {
            if (response) {
              this.loading = true
              this.$toast.success('Номер подтвержден', 'ОК')
              this.step = 2
              setTimeout(() => {
                this.loading = false
              }, 500)
              delete this.user.code
            }
          })
          .catch((error) => {
            const msgEr = error.response.data.error

            if (error.response.status === 500) {
              this.$toast.error(msgEr, 'Ошибка')
            }
          })
      }
    }
  },
  mounted() {},
  methods: {
    ...mapActions({
      preloader: 'A_PRELOADER_END',
      createCandidate: 'auth/A_CREATE_CANDIDATE',
      checkCandidate: 'auth/A_CHECK_CANDIDATE',
      createUser: 'auth/A_CREATE_USER',
      signIn: 'auth/A_LOGIN',
      sendMail: 'mail/A_SIGN_UP',
      smsSendller: 'mail/A_SEND_SMS'
    }),
    beforeClose() {
      this.step = 1
      this.stopTimer()
    },
    startTimer() {
      if (this.timerCount > 0) {
        this.timer = setInterval(() => {
          this.timerCount--
        }, 1000)
      }
    },
    stopTimer() {
      clearInterval(this.timer)
      this.timerCount = 120
      this.isResend = true
      this.$cookies.set('candidateId', '')
    },
    onPhoneUpdate(val) {
      if (val.formattedNumber) {
        this.user.login = val.formattedNumber

        this.isPhoneValid = !!val.isValid

        if (this.isPhoneValid) {
          this.phoneError = ''
        } else {
          this.phoneError = 'Введите корректный номер телефона'
        }

        this.isCodeSend = this.showCode = false
      }
    },
    async sendSMS(phone) {
      this.loading = true
      try {
        await this.createCandidate(phone).then(() => {
          this.loading = false
          this.isCodeSend = this.showCode = true

          this.isResend = false
          this.startTimer()
        })
      } catch (e) {
        this.loading = false
        const eMessage = e.response.data.message || 'Неизвестная ошибка'

        this.$toast.error(eMessage, 'Ошибка')
      }
    },
    openSignIn() {
      this.$modal.hide('sign-up')
      setTimeout(() => {
        this.$modal.show('sign-in')
      }, 500)
    },
    sendCallback() {
      const contactData = {
        name: this.user.name || 'Не указано',
        phone: this.user.login || 'Не указано',
        email: this.user.email || 'Не указано',
        formName: 'Регистрация нового пользователя'
      }

      this.$axios.$post('api/contact', contactData).then(() => {
        if (process.env.NODE_ENV === 'production') {
          this.eventsSendEmailADS()
        }
      })
    },
    async signUp() {
      this.loading = true
      const valid = await this.$refs.signUpForm.validate()

      if (valid && this.isPhoneValid) {
        this.preloader({ load: true })

        try {
          const formData = {
            login: this.user.login,
            password: this.user.password,
            name: this.user.name,
            email: this.user.email
          }

          await this.createUser(formData).then(({ data }) => {
            this.loading = false
            const formData = {
              login: data.login,
              password: data.password
            }

            setTimeout(() => {
              this.signIn(formData)
            }, 1000)

            this.sendMail(data.login)

            this.sendCallback()

            this.$modal.hide('sign-up')
          })

          this.$toast.success(`Вы успешно зарегестрированны!`, formData.name)

          this.user.name = this.user.login = this.user.email = this.user.password =
            ''

          requestAnimationFrame(() => {
            this.$refs.signUpForm.reset()
          })
        } catch (e) {
          this.loading = false
          const eMessage = e.response.data.message || 'Неизвестная ошибка'

          this.$toast.error(eMessage, 'Ошибка')
        }
      }
    }
  }
}
</script>

<style lang="scss">
.sign-up {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 25px 0;

  &__sign-in {
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__step {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 15px 0;
    width: 100%;
  }

  &__footer {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }

  .form-field-wrapper {
    width: 100%;
  }

  .el-dialog {
    max-width: 500px;
  }
}

.form-field--phone {
  padding-top: 15px;

  &:before,
  &:after {
    display: none;
  }
}

.confirm-phone {
  margin-bottom: 15px;
}

.code-field {
  .form-field__input {
    width: auto !important;
  }
}
</style>
