<template lang="pug">
  ul.breadcrumbs
    li.breadcrumbs__item(
      v-for="(item, index) in breadcrumbsList"
      :key="`breadcrumb_${index}`"
    )
      nuxt-link(
        :to="item.link"
        v-if="item.link"
      ).breadcrumbs__link
        | {{ item.name }}
      span(v-else).breadcrumbs__current
        | {{ item.name }}
</template>

<script>
export default {
  name: 'AppBreadcrumbs',
  props: {
    breadcrumbsList: {
      type: Array,
      Object,
      default: () => [{}]
    }
  }
}
</script>

<style lang="scss" scoped>
.breadcrumbs {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px 0;

  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
</style>
