<template lang="pug">
  validation-observer(:ref="refForm" tag="div")
    form.form(@submit.prevent="submitForm(formName, formRef)" :ref="formRef")
      .form-field-wrapper(
        v-for="(item, index) in formFields"
      )
        validation-provider(
          name="name"
          :rules="formRef !== 'downloadPriceForm' ? 'required|min:3' : 'min:3'"
          v-slot="{ errors }"
          class="form-field"
          v-if="item === 'name'"
        )
          input(
            v-model="formData.name"
            type="text"
            @focus="onFocus($event)"
            @blur="onBlur(formData.name, $event)"
          ).form-field__input
          span.form-field__text
            | Ваше имя
          span.form-field__error
            | {{ errors[0] }}
        validation-provider(
          name="phone"
          :rules="formRef !== 'downloadPriceForm' ? 'required|min:11' : 'min:11'"
          v-slot="{ errors }"
          class="form-field"
          v-if="item === 'phone'"
        )
          input(
            v-model="formData.phone"
            type="tel"
            @focus="onFocus($event)"
            @blur="onBlur(formData.phone, $event)"
            v-on:keypress="noNumber($event)"
          ).form-field__input
          span.form-field__text
            | Ваш номер телефона
          span.form-field__error
            | {{ errors[0] }}
        validation-provider(
          name="email"
          rules="required|email"
          v-slot="{ errors }"
          class="form-field"
          v-if="item === 'email'"
        )
          input(
            v-model="formData.email"
            type="email"
            @focus="onFocus($event)"
            @blur="onBlur(formData.email, $event)"
          ).form-field__input
          span.form-field__text
            | Ваш e-mail
          span.form-field__error
            | {{ errors[0] }}
        validation-provider(
          name="company"
          rules="min:3"
          v-slot="{ errors }"
          class="form-field"
          v-if="item === 'company'"
        )
          input(
            v-model="formData.company"
            type="text"
            @focus="onFocus($event)"
            @blur="onBlur(formData.company, $event)"
          ).form-field__input
          span.form-field__text
            | Название организации
          span.form-field__error
            | {{ errors[0] }}
      app-btn(
        v-if="formRef === 'downloadPriceForm'"
        ref="btnSubmit"
        type="submit"
       )
        | {{ formBtnText }}
      app-btn(
        v-else
        type="submit"
      )
        | {{ formBtnText }}
    transition(name="fade")
      modal-thx-window(v-if="G_MODAL_THX")
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import AppBtn from '~/components/AppUi/AppBtn'
import AppPreloader from '~/components/AppUi/AppPreloader'

const ModalThxWindow = () => ({
  component: import('~/components/AppUi/AppPopupThx.vue'),
  loading: AppPreloader,
  timeout: 3000
})

export default {
  name: 'AppForm',
  components: {
    AppBtn,
    ModalThxWindow
  },
  props: {
    formRef: {
      type: String,
      default: ''
    },
    reachGoalName: {
      type: String,
      default: ''
    },
    formName: {
      type: String,
      default: ''
    },
    formBtnText: {
      type: String,
      default: ''
    },
    formFields: {
      type: Array,
      default: () => []
    },
    fData: {
      type: Object,
      default: () => ({
        phone: '',
        name: '',
        email: '',
        company: ''
      })
    },
    equipmentName: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    isFocus: false,
    isModalThxVisible: false,
    formData: {
      phone: '',
      name: '',
      email: '',
      company: ''
    }
  }),
  computed: {
    ...mapGetters({
      G_MODAL_THX: 'G_MODAL_SHOW'
    }),
    refForm() {
      return this.formRef || 'promoForm'
    }
  },
  mounted() {
    this.formData = this.fData
  },
  methods: {
    ...mapActions({
      A_MODAL_THX: 'A_MODAL_SHOW'
    }),
    noNumber(evt) {
      const regex = new RegExp('^[0-9]+$')
      const key = String.fromCharCode(!evt.charCode ? evt.which : evt.charCode)
      if (!regex.test(key)) {
        event.preventDefault()
        return false
      }
    },
    onFocus(e) {
      e.target.parentNode.classList.add('form-field--focused')
    },
    onBlur(value, e) {
      if (value !== null && value.length > 0) {
        e.target.parentNode.classList.add('form-field--focused')
      } else {
        e.target.parentNode.classList.remove('form-field--focused')
      }
    },
    submitForm(fn, ref) {
      try {
        this.$refs[ref].validate().then((isValid) => {
          if (!isValid) {
            console.log('error')
          } else {
            let formData = {}

            if (this.$refs.downloadPriceForm) {
              formData = {
                phone: this.formData.phone || 'Не указано',
                name: this.formData.name || 'Не указано',
                email: this.formData.email || 'Не указано',
                company: this.formData.company || 'Не указано',
                formName: fn,
                download: true
              }
            } else {
              formData = {
                phone: this.formData.phone || 'Не указано',
                name: this.formData.name || 'Не указано',
                email: this.formData.email || 'Не указано',
                company: this.formData.company || 'Не указано',
                formName: fn
              }
            }

            this.$axios.$post('api/contact', formData).then(() => {
              this.A_MODAL_THX({ modalIsShowed: true })
              this.formData.phone = ''
              this.formData.name = ''
              this.formData.email = ''
              this.formData.company = ''

              requestAnimationFrame(() => {
                this.$refs[ref].reset()
                this.isFocus = false
              })

              // eslint-disable-next-line no-undef
              VK.Retargeting.Event('lead')
              // eslint-disable-next-line no-undef
              fbq('track', 'Lead')
              // eslint-disable-next-line
              ym('45578973', 'reachGoal', this.reachGoalName)
              // eslint-disable-next-line
              ym('45578973', 'reachGoal', 'form1')
              // eslint-disable-next-line
              dataLayer.push({
                event: 'event-to-ga',
                eventCategory: 'form',
                eventAction: 'form'
              })
              // eslint-disable-next-line
              dataLayer.push({
                event: 'event-to-ga',
                eventCategory: this.reachGoalName,
                eventAction: this.reachGoalName
              })

              if (this.$refs.manureRegisterForm) {
                this.$axios({
                  url: `https://nagro.group/documents/price_udobrenya_nagro.pdf`,
                  method: 'GET',
                  responseType: 'blob' // important
                }).then((response) => {
                  const url = window.URL.createObjectURL(
                    new Blob([response.data])
                  )
                  const link = document.createElement('a')
                  link.href = url
                  link.setAttribute('download', `price_udobrenya_nagro.pdf`)
                  document.body.appendChild(link)
                  link.click()
                })
              }

              if (this.$refs.equipmentRegisterForm) {
                this.$axios({
                  url: `https://nagro.group/documents/equipments/${this.equipmentName}.pdf`,
                  method: 'GET',
                  responseType: 'blob' // important
                }).then((response) => {
                  const url = window.URL.createObjectURL(
                    new Blob([response.data])
                  )
                  const link = document.createElement('a')
                  link.href = url
                  link.setAttribute('download', `${this.equipmentName}.pdf`)
                  document.body.appendChild(link)
                  link.click()
                })
                this.$cookies.set('equipment-register', 'yes', '')
              }

              if (formData.download) {
                // tmp хардкод
                this.$axios({
                  url: 'https://nagro.group/documents/NAGRO_PRICE_090322.pdf',
                  method: 'GET',
                  responseType: 'blob' // important
                }).then((response) => {
                  const url = window.URL.createObjectURL(
                    new Blob([response.data])
                  )
                  const link = document.createElement('a')
                  link.href = url
                  link.setAttribute('download', 'NAGRO_PRICE_090322.pdf')
                  document.body.appendChild(link)
                  link.click()
                })
              }

              // this.$axios.$get('/api/download', {
              //   responseType: 'blob'
              // })

              if (
                !this.$refs.manureRegisterForm ||
                !this.$refs.equipmentRegisterForm ||
                !formData.download
              ) {
                setTimeout(() => {
                  this.A_MODAL_THX({ modalIsShowed: false })
                }, 2000)
              }
            })
          }
        })
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    }
  }
}
</script>

<style lang="scss">
.form {
  background-color: $color-white;
}

.form-field-wrapper {
  background-color: $color-white;

  &--hidden {
    position: absolute;
    left: -99999px;
    top: -9999px;
    visibility: hidden;
    margin: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

.form-field {
  position: relative;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
  max-width: 320px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $bdr-width;
    background-color: $color-border;
    border-radius: $brs;
  }

  &:before {
    content: '';
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: $bdr-width;
    background-color: transparent;
    border-radius: $brs;
    transition: left 0.4s, width 0.4s, background-color 1.2s;
  }

  &__input {
    border: none;
    width: 100%;
    padding: 15px 0;
    outline: none;
    background-color: transparent;
    resize: none;

    &::placeholder {
      color: transparent;
    }

    &:-webkit-autofill {
      animation-name: autofill;
      animation-fill-mode: both;
    }
  }

  &__text {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: $fz-small;
    transform: translateY(-50%);
    transition-property: top, font-size, transform, color;
    transition-duration: 0.3s;
  }

  &__error {
    position: absolute;
    top: 110%;
    left: 0;
    font-size: 11px;
    color: $color-error;
    white-space: nowrap;
  }

  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    padding: 1px;
    margin-right: 7px;
    border-radius: 0;
    background: none;
    border: 1px solid #848484;

    svg {
      opacity: 0;
      max-width: 100%;
      max-height: 100%;
      transition: opacity 0.25s;
    }
  }

  &--focused:not(&--checkbox):not(&--radio) {
    &:before {
      left: 0;
      width: 100%;
      background-color: transparent;
      transition: left 0.4s, width 0.4s, background-color 0.1s;
    }

    .form-field__text {
      top: -5px;
      transform: none;
      font-size: $fz-small - 2px;
      color: $color-primary;
      transition-property: top, font-size, transform, color;
      transition-duration: 0.3s;
    }
  }

  &--focused:not(&--checkbox):not(&--radio).is-invalid {
    &:before {
      left: 0;
      width: 100%;
      background-color: $color-error;
      transition: left 0.4s, width 0.4s, background-color 0.1s;
    }

    .form-field__text {
      top: -5px;
      transform: none;
      font-size: $fz-small - 2px;
      color: $color-primary;
      transition-property: top, font-size, transform, color;
      transition-duration: 0.3s;
    }
  }

  &--focused:not(&--checkbox):not(&--radio).is-valid {
    &:before {
      left: 0;
      width: 100%;
      background-color: $color-accent;
      transition: left 0.4s, width 0.4s, background-color 0.1s;
    }

    .form-field__text {
      top: -5px;
      transform: none;
      font-size: $fz-small - 2px;
      color: $color-accent;
      transition-property: top, font-size, transform, color;
      transition-duration: 0.3s;
    }
  }

  &--focused {
    .form-field__icon {
      outline: 1px solid $color-accent;
    }
  }

  &--hidden {
    position: absolute;
    left: -99999px;
    top: -9999px;
    visibility: hidden;
    margin: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

@keyframes autofill {
  to {
    background: transparent;
  }
}
</style>
