<template lang="pug">
  validation-observer(
    tag="form"
    v-slot="{ validate }"
    ref="calculationObserver"
    @submit.prevent="calculation(formName)"
  ).calculator-form
    h5.calculator-form__title
      | Заполните ваши данные
    validation-provider(
      name="calcHectares"
      rules="required|min:3"
      v-slot="{ errors }"
      class="form-field"
    )
      input(
        v-model="calcHectares"
        type="number"
        @focus="onFocus($event)"
        @blur="onBlur(calcHectares, $event)"
      ).form-field__input
      span.form-field__text
        | Количество гектаров земли
      span.form-field__error
        | {{ errors[0] }}

    validation-provider(
      name="calcWeight"
      rules="required|min:3"
      v-slot="{ errors }"
      class="form-field"
    )
      input(
        v-model="calcWeight"
        type="number"
        @focus="onFocus($event)"
        @blur="onBlur(calcWeight, $event)"
      ).form-field__input
      span.form-field__text
        | Количество внесения минерального удобрения на 1Га (Кг)
      span.form-field__error
        | {{ errors[0] }}

    validation-provider(
      name="calcCost"
      rules="required|min:3"
      v-slot="{ errors }"
      class="form-field"
    )
      input(
        v-model="calcCost"
        type="number"
        @focus="onFocus($event)"
        @blur="onBlur(calcCost, $event)"
      ).form-field__input
      span.form-field__text
        | Стоимость тонны сухого минерального удобрения
      span.form-field__error
        | {{ errors[0] }}

    app-btn(type="submit")
      | Рассчитать
    transition(name="fade")
      modal-window-calc(
        @modalShow="setPopupVisibility()"
        v-if="isModalCalcVisible"
        :calcResult="resultCalculation"
        :calcResultNagro="resultNagroCalculation"
        :calcDifference="resultDifference"
      )
</template>

<script>
import AppBtn from '~/components/AppUi/AppBtn'
import AppPreloader from '~/components/AppUi/AppPreloader'

const ModalWindowCalc = () => ({
  component: import('~/components/AppUi/AppPopupCalc.vue'),
  loading: AppPreloader,
  timeout: 3000
})

export default {
  name: 'AppFormCalc',
  components: {
    AppBtn,
    ModalWindowCalc
  },
  props: {
    formRef: {
      type: String,
      default: ''
    },
    reachGoalName: {
      type: String,
      default: ''
    },
    formName: {
      type: String,
      default: ''
    },
    formBtnText: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    technologyHiddenText: false,
    calcHectares: null,
    calcWeight: null,
    calcCost: null,
    resultCalculation: 0,
    resultNagroCalculation: 0,
    resultDifference: 0,
    isFocus: false,
    isModalCalcVisible: false
  }),
  methods: {
    onFocus(e) {
      e.target.parentNode.classList.add('form-field--focused')
    },
    onBlur(value, e) {
      if (value !== null && value.length > 0) {
        e.target.parentNode.classList.add('form-field--focused')
      } else {
        e.target.parentNode.classList.remove('form-field--focused')
      }
    },
    setPopupVisibility(showed) {
      if (this.isModalCalcVisible) {
        this.isModalCalcVisible = showed
      }
    },
    calculation(fn) {
      try {
        this.$refs.calculationObserver.validate().then((isValid) => {
          if (!isValid) {
            console.log('error')
          } else {
            const sumOneKg = this.calcCost / 1000
            this.resultCalculation = Math.round(
              this.calcWeight * this.calcHectares * sumOneKg
            )
            this.resultNagroCalculation =
              // Math.round(
              //   this.resultCalculation - (this.resultCalculation / 100) * 80
              // )
              Math.round((this.calcWeight / 2) * this.calcHectares * sumOneKg)
            this.resultDifference = Math.round(
              this.resultCalculation - this.resultNagroCalculation
            )

            requestAnimationFrame(() => {
              this.$refs.calculationObserver.reset()
            })

            this.isModalCalcVisible = true
          }
        })
      } catch (e) {
        console.error(e)
      }
    }
  }
}
</script>

<style lang="scss">
.calculator-form {
  .form-field {
    max-width: 50%;
  }
}
</style>
