<template lang="pug">
  validationProvider(
    ref="fieldProvider",
    :name="placeholder",
    :rules="validation",
    v-slot="{ errors, classes, validate }"
    :class="`form-field-wrapper--${type}` && rootClasses"
  ).form-field-wrapper

    label(
      v-if="type === 'hidden'"
      class="form-field--hidden"
    ).form-field
      input(
        :type="type"
        :placeholder="placeholder"
        :name="name"
        :class="classes"
        @input="$emit('input', $event.target.value) || validate($event)"
        @focus="onFocus()"
        @blur="onBlur()"
        v-model="initialValue"
      ).form-field__input

    label(
      v-else
      :class="{ ...classes, ...getClass }"
    ).form-field
      input(
        v-if="name === 'phone' || name === 'code'"
        :type="type"
        :placeholder="placeholder"
        :name="name"
        :class="classes"
        @input="$emit('input', $event.target.value) || validate($event)"
        @focus="onFocus()"
        @blur="onBlur()"
        autocomplete
        v-on:keypress="noNumber($event)"
        v-model="initialValue"
      ).form-field__input

      textarea(
        v-else-if="type === 'textarea'"
        :type="type"
        :placeholder="placeholder"
        :name="name"
        :class="classes"
        @input="$emit('input', $event.target.value) || validate($event)"
        @focus="onFocus()"
        @blur="onBlur()"
        v-model="initialValue"
      ).form-field__input.form-field__input--textarea

      input(
        v-else
        :type="type"
        :placeholder="placeholder"
        :name="name"
        autocomplete
        :class="classes"
        @input="$emit('input', $event.target.value) || validate($event)"
        @focus="onFocus()"
        @blur="onBlur()"
        v-model="initialValue"
      ).form-field__input

      span.form-field__icon(
        v-if="type === 'checkbox'"
      )
        svg-icon(name="icon-checked")

      span.form-field__icon(
        v-else-if="type === 'radio'"
      )

      span.form-field__text(
        v-text="placeholder"
        :class="isFocus ? 'form-field__text--focused' : ''"
      )
      slot(name="label-inner")

      span.form-field__error
        | {{ errors[0] }}
</template>

<script>
export default {
  name: 'AppField',
  props: {
    type: {
      type: String,
      default: 'text'
    },
    placeholder: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    fieldData: {
      type: String,
      default: ''
    },
    className: {
      type: String,
      default: ''
    },
    validation: {
      type: Object,
      default: () => {}
    },
    fullWidth: {
      type: Boolean,
      default: false
    },
    center: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      initialValue: '',
      isFocus: false,
      phoneRussia: { pattern: /^((\+7|7|8)+([0-9]){10})$/ }
    }
  },
  computed: {
    rootClasses() {
      return {
        'form-field-wrapper--full-width': this.fullWidth,
        'form-field-wrapper--center': this.center
      }
    },
    getClass() {
      return {
        'form-field--checkbox': this.type === 'checkbox',
        'form-field--radio': this.type === 'radio',
        'form-field--focused': this.isFocus
      }
    }
  },
  mounted() {
    setTimeout(() => {
      if (this.fieldData && this.fieldData.length > 0) {
        this.initialValue = this.fieldData
        this.isFocus = true
      }
    }, 300)
  },
  methods: {
    onFocus() {
      this.isFocus = true
    },
    onBlur() {
      if (this.initialValue.length > 0) {
        this.isFocus = true
      } else {
        this.isFocus = false
      }
    },
    noNumber(evt) {
      const regex = new RegExp('[^0-9\\\\+]')
      const key = String.fromCharCode(!evt.charCode ? evt.which : evt.charCode)
      if (regex.test(key)) {
        evt.preventDefault()
        return false
      }
    }
  }
}
</script>

<style lang="scss">
.form-field-wrapper {
  &--hidden {
    position: absolute;
    left: -99999px;
    top: -9999px;
    visibility: hidden;
    margin: 0;

    &::before,
    &::after {
      display: none;
    }
  }

  &--full-width {
    width: 100%;

    .form-field {
      max-width: 100%;

      &__input {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &--center {
    width: 100%;

    .form-field {
      margin-left: auto;
      margin-right: auto;

      &__input {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

.form-field {
  position: relative;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
  max-width: 320px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $bdr-width;
    background-color: $color-border;
    border-radius: $brs;
  }

  &:before {
    content: '';
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: $bdr-width;
    background-color: transparent;
    border-radius: $brs;
    transition: left 0.4s, width 0.4s, background-color 1.2s;
  }

  &__input {
    border: none;
    width: 100%;
    padding: 15px 0;
    outline: none;
    background-color: transparent;
    resize: none;

    &::placeholder {
      color: transparent;
    }

    &:-webkit-autofill {
      animation-name: autofill;
      animation-fill-mode: both;
    }
  }

  &__text {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: $fz-small;
    transform: translateY(-50%);
    transition-property: top, font-size, transform, color;
    transition-duration: 0.3s;
  }

  &__error {
    position: absolute;
    top: 110%;
    left: 0;
    font-size: 11px;
    color: $color-error;
    white-space: nowrap;
  }

  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    padding: 1px;
    margin-right: 7px;
    border-radius: 0;
    background: none;
    border: 1px solid #848484;

    svg {
      opacity: 0;
      max-width: 100%;
      max-height: 100%;
      transition: opacity 0.25s;
    }
  }

  &__option {
    text-align: right;
    width: 210px;
    font-size: 12px;
  }

  &--focused:not(&--checkbox):not(&--radio) {
    &:before {
      left: 0;
      width: 100%;
      background-color: transparent;
      transition: left 0.4s, width 0.4s, background-color 0.1s;
    }

    .form-field__text {
      top: -5px;
      transform: none;
      font-size: $fz-small - 2px;
      color: $color-primary;
      transition-property: top, font-size, transform, color;
      transition-duration: 0.3s;
    }

    // .form-field__input--textarea {
    //   margin-top: 15px;
    // }
  }

  &--focused:not(&--checkbox):not(&--radio).is-invalid {
    &:before {
      left: 0;
      width: 100%;
      background-color: $color-error;
      transition: left 0.4s, width 0.4s, background-color 0.1s;
    }

    .form-field__text {
      top: -5px;
      transform: none;
      font-size: $fz-small - 2px;
      color: $color-primary;
      transition-property: top, font-size, transform, color;
      transition-duration: 0.3s;
    }
  }

  &--focused:not(&--checkbox):not(&--radio).is-valid {
    &:before {
      left: 0;
      width: 100%;
      background-color: $color-accent;
      transition: left 0.4s, width 0.4s, background-color 0.1s;
    }

    .form-field__text {
      top: -5px;
      transform: none;
      font-size: $fz-small - 2px;
      color: $color-accent;
      transition-property: top, font-size, transform, color;
      transition-duration: 0.3s;
    }
  }

  &--checkbox,
  &--radio {
    max-width: none;
    cursor: pointer;

    &:after {
      display: none;
    }

    .form-field__text {
      position: relative;
      top: 0;
      transform: none;
    }

    .form-field__input {
      @include visually-hidden;
      width: auto;

      &:checked {
        + .form-field__icon {
          svg {
            opacity: 1;
            transition: opacity 0.25s;
          }

          &:before {
            width: 6px;
            height: 6px;
            opacity: 1;
            transition-property: width, height, opacity;
            transition-duration: 0.25s;
            will-change: width, height, opacity;
          }
        }
      }
    }
  }

  &--radio {
    .form-field__icon {
      border-radius: 50%;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $color-accent;
        transition-property: width, height, opacity;
        transition-duration: 0.5s;
        will-change: width, height, opacity;
      }
    }
  }

  &--focused {
    .form-field__icon {
      outline: 1px solid $color-accent;
    }
  }

  &--hidden {
    position: absolute;
    left: -99999px;
    top: -9999px;
    visibility: hidden;
    margin: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

@keyframes autofill {
  to {
    background: transparent;
  }
}
</style>
