<template lang="pug">
  section.article-item
    h4.article-item__title
      | {{ post.title }}
    div.article-item__date
      | {{ post.date }}
    picture.article-item__pic
      img(
        v-if="post.coverUrl && post.coverUrl.length > 0"
        ref="previewPicture"
        :src="post.coverUrl"
        alt=""
      )
      svg-icon(v-else name="gallery")
    p.article-item__preview
      | {{ post.description }}
    a(href="#" @click.prevent="openArticle(post.slug)").article-item__link
      | Читать подробнее
</template>

<script>
export default {
  name: 'AppNewsPost',
  props: {
    post: {
      type: Object,
      default: () => {},
      required: true
    },
    isArticle: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    openArticle(name) {
      const routePath = this.isArticle ? `/articles/${name}` : `/news/${name}`
      this.$router.push(routePath)
    }
  }
}
</script>

<style lang="scss">
.new-item,
.article-item {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  border: 1px solid $color-border;
  margin-bottom: 20px;
  padding: 10px;
  padding-bottom: 40px;
  width: 100%;
  height: 190px;

  &__title {
    width: 100%;
    line-height: 1;
    max-height: 51px;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media($width_xs_s, 0) {
      line-height: 1.3;
      max-height: 58px;
    }
  }

  &__date {
    font-size: 14px;
    color: #ccc;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }

  &__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 70px;
    margin-right: 15px;
    overflow: hidden;

    img {
      max-height: 100%;
      object-fit: cover;
    }

    @include media($width_xs_s, 0) {
      margin-right: 0;
      margin-bottom: 15px;
      width: 100%;
      height: 300px;
    }
  }

  &__preview {
    width: calc(100% - 150px);
    margin-bottom: 0;
    padding-right: 10%;
    max-height: 90px;
    overflow: hidden;
    font-size: 14px;

    @include media($width_xs_s, 0) {
      width: 100%;
      padding-right: 0;
      max-height: 70px;
    }
  }

  &__link {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  @include media($width_xs_s, 0) {
    flex-flow: column nowrap;
    height: 500px;
  }
}
</style>
