<template lang="pug">
  .popup-wrapper
    .popup-container
      .popup-close(@click="closePopup()")
        svg-icon(name="icon-close")
      h5.popup-title
        | {{ formName }}
      app-form(
        formRef="downloadPriceForm"
        :formName="formName"
        :formBtnText="btnName"
        :reachGoalName="reachGoal"
        :formFields="['name', 'phone', 'email']"
      ).intro__form
</template>

<script>
import AppForm from '~/components/AppUi/AppForm'
import AppField from '~/components/AppUi/AppField'
import AppBtn from '~/components/AppUi/AppBtn'

export default {
  name: 'AppPopup',
  components: { AppBtn, AppField, AppForm },
  props: {
    formName: {
      type: String,
      default: ''
    },
    btnName: {
      type: String,
      default: 'Заказать звонок'
    },
    type: {
      type: String,
      default: ''
    },
    reachGoal: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      focusedElement: '',
      name: '',
      email: '',
      phone: '',
      submitting: false,
      isSubmitted: false,
      noValid: true,
      isSend: false
    }
  },
  methods: {
    closePopup() {
      this.$emit('modalShow', false)
    }
  }
}
</script>

<style lang="scss">
.popup-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-primary, 0.41);
}

.popup-container {
  position: relative;
  z-index: 201;
  width: 100%;
  max-width: 500px;
  padding: 64px 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 1px solid #979797;
  background-color: $color-white;

  .btn {
    margin-top: 40px;
  }

  @include media($width_xs_s, 0) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 64px 40px / $width_xs_s * 100vw;

    > span {
      width: 100%;
    }

    .form-field {
      max-width: 100%;
    }

    .btn {
      max-width: 100%;
    }
  }
}

.popup-thx {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: $color-white;
  z-index: 10;
  text-align: center;
  padding: 15px;
}

.popup-title {
  font-weight: 500;
}

.popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 11;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: $color-primary;

  svg {
    transition-property: fill, transform;
    transition-duration: 0.2s;
  }

  @include media($width_md, 1) {
    &:hover,
    &:focus {
      svg {
        fill: $color-accent;
        transform: scale(1.1);
        transition-property: fill, transform;
        transition-duration: 0.2s;
      }
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
