<template lang="pug">
  div.preloader(v-if='$store.getters.G_PRELOADER')
    .cssload-loader
      .cssload-inner.cssload-one
      .cssload-inner.cssload-two
      .cssload-inner.cssload-three
    svg-icon(name="logo").preloader__logo

</template>

<script>
export default {}
</script>

<style lang="scss">
.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  background-color: rgba($color-primary, 1);

  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(0.9);
  }

  /*&:before,*/
  /*&:after {*/
  /*  position: absolute;*/
  /*  left: 50%;*/
  /*  top: 50%;*/
  /*<!--  transform: translate(-50%, -50%);-->*/
  /*border-radius: 10px;*/
  /*opacity: 0.5;*/
  /*}*/

  /*&:before {*/
  /*  content: '';*/
  /*  width: 96px;*/
  /*  height: 96px;*/
  /*  border: 1px solid #fff;*/
  /*  display: block;*/
  /*  animation: rotate 5s linear infinite forwards;*/
  /*}*/

  /*&:after {*/
  /*  content: '';*/
  /*  width: 96px;*/
  /*  height: 96px;*/
  /*  border: 1px solid #fff;*/
  /*  display: block;*/
  /*  animation: rotate 5s linear infinite reverse;*/
  /*}*/

  // span {
  //   position: absolute;
  //   top: 50%;
  //   display: block;
  //   width: 100px;
  //   height: 46px;
  //   opacity: 0;
  //   font-size: 90px;
  //   animation: move 2s linear infinite;
  //   transform: rotate(180deg);
  //   color: $color-accent;

  //   &:nth-child(2) {
  //     animation-delay: 0.2s;
  //   }

  //   &:nth-child(3) {
  //     animation-delay: 0.4s;
  //   }

  //   &:nth-child(4) {
  //     animation-delay: 0.6s;
  //   }

  //   &:nth-child(5) {
  //     animation-delay: 0.8s;
  //   }
  // }

  // &__logo {
  //   width: 117px;
  //   height: 32px;
  //   position: absolute;
  //   left: 50%;
  //   top: calc(50% + 4px);
  //   transform: translate(-50%, -50%);
  // }

  .cssload-loader {
    position: relative;
    width: 250px;
    height: 250px;
    perspective: 780px;
  }

  .cssload-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    &.cssload-one {
      left: 0%;
      top: 0%;
      animation: cssload-rotate-one 1.15s linear infinite;
      border-bottom: 3px solid #5c5edc;
    }
    &.cssload-two {
      right: 0%;
      top: 0%;
      animation: cssload-rotate-two 1.15s linear infinite;
      border-right: 3px solid rgba(76, 70, 101, 0.99);
    }
    &.cssload-three {
      right: 0%;
      bottom: 0%;
      animation: cssload-rotate-three 1.15s linear infinite;
      border-top: 3px solid rgb(233, 144, 138);
    }
  }

  @keyframes cssload-rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @keyframes cssload-rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @keyframes cssload-rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @keyframes zoom {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
</style>
