<template>
  <el-form
    ref="subscribeForm"
    :inline="true"
    :rules="rules"
    :model="formData"
    class="subscribe"
  >
    <el-form-item prop="email">
      <el-input v-model="formData.email" placeholder="Email"></el-input>
    </el-form-item>

    <el-form-item>
      <app-btn class="btn--green" @click.native="submitForm('subscribeForm')">
        Подписаться
      </app-btn>
    </el-form-item>
  </el-form>
</template>

<script>
import { mapActions } from 'vuex'
import AppBtn from '~/components/AppUi/AppBtn'
export default {
  name: 'Subscribe',
  components: { AppBtn },
  data: () => ({
    formData: {
      email: ''
    },
    rules: {
      email: [
        { required: true, message: 'Введите email адрес' },
        {
          type: 'email',
          message: 'Некорректный email адрес',
          trigger: ['blur', 'change']
        }
      ]
    },
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 2000
        }
      }
    }
  }),
  methods: {
    ...mapActions({
      subscribe: 'subscribers/A_NEW_SUBSCRIBE'
    }),
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.subscribe(this.formData.email)

          this.$toast.success(
            'Вы подписались на email рассылку.',
            'Спасибо!',
            this.notificationSystem.options.success
          )

          this.$refs[formName].resetFields()
        } else {
          this.$toast.error(
            'Что-то пошло не так...',
            'Ошибка',
            this.notificationSystem.options.error
          )

          setTimeout(() => {
            this.$refs[formName].resetFields()
          }, 1000)
          return false
        }
      })
    }
  }
}
</script>

<style lang="scss">
.subscribe {
  .el-form-item {
    &:last-of-type {
      margin-right: 0;
    }
  }

  .el-input__inner {
    border-radius: $brs;
  }

  .btn {
    padding: 10px;
  }
}
</style>
