<template lang="pug">
  ul.social-list
    li.social-list__item(v-for="(item, index) in socials" :key="index")
      a(:href="item.link" target="_blank").social-list__link
        svg-icon(:name="item.iconName")
</template>

<script>
export default {
  name: 'AppSocialList',
  data: () => ({
    socials: [
      {
        iconName: 'icon-inst',
        link: 'https://www.instagram.com/nagro.group_official/'
      },
      {
        iconName: 'icon-youtube',
        link: 'https://www.youtube.com/channel/UC6lyGXayoSg2W0IcdaWBkTA'
      },
      {
        iconName: 'vk',
        link: 'https://vk.com/public188085987'
      },
      {
        iconName: 'icon-fb',
        link: 'https://www.facebook.com/nagrogroup9-111430323555502/'
      }
    ]
  })
}
</script>

<style lang="scss">
.social-list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    display: block;
    width: 30px;
    height: 30px;

    svg {
      width: 100%;
      height: 100%;
      fill: $color-white;
      transition: fill 0.3s;
    }

    @include media($width_md, 1) {
      &:hover,
      &:focus {
        svg {
          fill: $color-accent;
          transition: fill 0.3s;
        }
      }
    }
  }
}
</style>
