<template lang="pug">
  .gallery
    client-only
      vue-glide(
          :focusAt="center"
          :type="'carousel'"
          :rewind="false"
          :animationDuration=animDuration
          :gap="gap"
          :perView="items"
          :breakpoints="breakpoints"
          :class="`slider slider--${className}`"
          :autoplay="autoplay"
          :hoverpause="false"
          @glide:move="moveMethod()"
        )
        vue-glide-slide(
          v-for="(item, index) in itemsArray"
          :key="`slide_${index}`"
        ).slider__item
          youtube(
            v-if="video"
            player-height="100%"
            player-width="100%"
            :class="`${className}__video`"
            :video-id="item.videoId"
          ).video.slider__video
          img(
            v-else
            :src="item.src"
            :alt="item.caption"
            :class="`${className}__pic`"
          ).slider__pic
          p.slider__description(v-if="className === 'once'") {{ item.text }}
          .slider__item-overlay(
            v-if="lightBox"
            @click.prevent="showLightBox(index)"
          )
            svg-icon(name="icon-search")
        template(slot="control").slider__controls
          button(data-glide-dir="<").slider__arrow.slider__arrow--prev
            svg-icon(name="icon_arrow")
          button(data-glide-dir=">").slider__arrow.slider__arrow--next
            svg-icon(name="icon_arrow")
        template(v-if="className === 'four'" slot="control").slider__controls
          div(data-glide-dir="<").slider__control-overlay.slider__control-overlay--prev
          div(data-glide-dir=">").slider__control-overlay.slider__control-overlay--next
      light-box(
        v-if="lightBox"
        :images="itemsArray"
        ref="lightbox"
        :showThumbs="false"
        :show-caption="false"
        :show-light-box="false"
      )
        template(
          slot="close"
        )
          svg-icon(name="icon-close")
</template>

<script>
import AppVideo from './AppVideo'

export default {
  name: 'AppSlider',
  components: { AppVideo },
  props: {
    itemsArray: {
      type: [Array, Object],
      default: () => []
    },
    items: {
      type: Number,
      default: 3
    },
    gap: {
      type: Number,
      default: 10
    },
    autoplay: {
      type: Number,
      default: 0
    },
    dots: {
      type: Boolean,
      default: false
    },
    lightBox: {
      type: Boolean,
      default: false
    },
    center: {
      type: [String, Number],
      default: 0
    },
    className: {
      type: String,
      default: ''
    },
    video: {
      type: Boolean,
      default: false
    },
    breakpoints: {
      type: Object,
      default: () => ({
        720: {
          perView: 1,
          gap: 0
        }
      })
    }
  },
  data: () => ({
    isLightBox: false,
    animDuration: 600
  }),
  methods: {
    moveMethod() {
      // console.log('slide')
    },
    showLightBox(index) {
      this.$refs.lightbox.showImage(index)
    }
  }
}
</script>

<style lang="scss">
.slider {
  &--triple {
    .glide__slides {
      min-height: 380px;
      align-items: center;

      @include media($width_xs_s, 0) {
        min-height: 200px;
      }
    }

    // .glide__slides,
    // .glide__track {
    //   overflow: visible;
    // }

    .slider__arrow {
      &--prev {
        left: -20px;

        @include media($width-container, 0) {
          left: -10px;
        }
      }

      &--next {
        right: -20px;

        @include media($width-container, 0) {
          right: -10px;
        }
      }
    }

    .slider__item {
      position: relative;
      cursor: pointer;
      height: 340px;
      border-radius: $brs;
      transform: scale(0.9);
      transition: transform 0.3s;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-black, 0.45);
      }

      img {
        width: 100%;
        height: 100%;
      }

      @include media($width_md, 1) {
        &:hover,
        &:focus {
          .slider__icon {
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.3s;
          }

          .slider__description {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-size: $fz-small;
            padding: 15px;
            background-color: rgba($color-black, 0.1);
            transition-property: background-color, padding, height;
            transition-duration: 0.3s;
          }
        }
      }

      &.glide__slide--active {
        transform: scale(1);
        transition: transform 0.3s;

        .slider__description {
          height: auto;
          padding: 15px;
          font-size: $fz-small;
        }

        .slider__icon {
          transform: translate(-50%, -50%) scale(1.2);
          transition: transform 0.3s;
        }

        @include media($width_md, 1) {
          &:hover,
          &:focus {
            .slider__icon {
              transform: translate(-50%, -50%) scale(1.5);
              transition: transform 0.3s;
            }

            .slider__description {
              height: 0;
              font-size: 0;
              padding: 0;
              transition-property: height, padding;
              transition-duration: 0.3s;
            }
          }
        }
      }

      @include media($width-container, 0) {
        height: 340px / $width-container * 100vw;
      }

      @include media($width_md, 0) {
        transform: scale(1);
      }

      @include media($width_xs, 0) {
        height: 450px;
      }

      @include media($width_xs_s, 0) {
        height: 250px;
      }
    }

    @include media($width-container, 0) {
      min-height: 302px / $width-container * 100vw;
    }

    @include media($width_xs_1, 0) {
      padding: 0 10px;
    }

    @include media($width_xs_s, 0) {
      padding: 0;
      min-height: 200px;
    }
  }

  &--four {
    margin-bottom: 40px;

    .glide__slides,
    .glide__track {
      overflow: visible;
    }

    .slider__control-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: rgba(#d8d8d8, 0.85);

      &--prev {
        left: calc(-100% - 40px);

        @include media($width-container, 0) {
          left: calc(-100% + 15px);
        }

        @include media($width_md, 0) {
          left: calc(-100% + 10px);
        }
      }

      &--next {
        right: calc(-100% - 40px);

        @include media($width-container, 0) {
          right: calc(-100% + 15px);
        }

        @include media($width_md, 0) {
          right: calc(-100% + 10px);
        }
      }

      @include media($width_xs_s, 0) {
        display: none;
      }
    }

    .glide__track {
      overflow: visible;
    }

    .slider__item {
      position: relative;
      height: 320px !important;
      overflow: hidden;
    }

    .slider__arrow {
      &--prev {
        left: -30px;

        @include media($width-container, 0) {
          left: 20px;
        }

        @include media($width_md, 0) {
          left: 18px;
        }

        @include media($width_xs_s, 0) {
          left: -12px;
        }
      }

      &--next {
        right: -30px;

        @include media($width-container, 0) {
          right: 20px;
        }

        @include media($width_md, 0) {
          right: 18px;
        }

        @include media($width_xs_s, 0) {
          right: -12px;
        }
      }
    }
  }

  &--once {
    .slider__arrow--prev {
      left: -30px;
      z-index: 100;
    }

    .slider__arrow--next {
      right: -30px;
      z-index: 100;
    }

    .glide__slide {
      height: auto;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;

    &-overlay {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      background: rgba($color-black, 0.45);
      transition: opacity 0.3s;

      svg {
        width: 40px;
        height: 40px;
        fill: transparent;
        transition: fill 0.5s;
      }
    }

    @include media($width_md, 1) {
      &:hover,
      &:focus {
        .slider__item-overlay {
          opacity: 1;
          transition: opacity 0.3s;

          svg {
            fill: $color-white;
            transition: fill 0.5s;
          }
        }
      }
    }
  }

  &__description {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    font-size: 0;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: $color-white;
    background-color: rgba($color-primary, 0.9);
    transition-property: height, padding;
    transition-duration: 0.3s;
  }

  &__video,
  &__pic {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__video {
    iframe {
      position: relative;
    }
  }

  &__pic {
    object-fit: cover;

    &.once__pic {
      position: relative;
      left: auto;
      top: auto;
      transform: none;
    }
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: 58px;
    height: 58px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.3s;
  }

  &__arrow {
    position: absolute;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;

    svg {
      width: 15px;
      height: 24px;
      stroke: $color-primary;
      stroke-width: 4px;
      transition: stroke 0.3s;
    }

    &--prev {
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      @include media($width_xs, 0) {
        left: -10px;
      }
    }

    &--next {
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);

      @include media($width_xs, 0) {
        right: -10px;
      }
    }

    @include media($width_md, 1) {
      &:hover,
      &:focus {
        svg {
          stroke: $color-accent;
          transition: stroke 0.3s;
        }
      }
    }
  }
}
</style>
