<template lang="pug">
  div.app-video
    iframe(
      :src="videoLink"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    )
</template>

<script>
export default {
  name: 'AppVideo',
  props: {
    videoLink: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss">
.app-video {
  position: relative;
  min-width: 100%;
  min-height: 100%;

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }
}
</style>
