<template>
  <section class="create-action">
    <h1 class="admin-page__title">Акция</h1>
    <el-form
      ref="actionForm"
      :model="action"
      :rules="validationRules"
      @submit.native.prevent="save(action._id)"
    >
      <el-form-item label="Изображение акции">
        <el-upload
          ref="upload"
          class="cover-uploader"
          action="/"
          :show-file-list="false"
          :on-change="handleCoverChange"
          :auto-upload="false"
        >
          <img
            v-if="showCover"
            :src="imageSrc"
            alt=""
            class="cover-uploader__image"
          />
          <div v-else class="cover-uploader__icon">
            <i class="el-icon-plus"></i>
          </div>
        </el-upload>
      </el-form-item>

      <div class="editor-field">
        <p>Контент акции</p>
        <wysiwyg v-model="action.content" class="create-article__editor" />
      </div>

      <div class="editor-field">
        <p>Предпросмотр</p>
        <!-- eslint-disable-next-line vue/no-v-html -->
        <div class="content-preview" v-html="action.content"></div>
      </div>

      <app-btn class="btn-submit" type="submit">
        Изменить акцию
      </app-btn>
    </el-form>
  </section>
</template>

<script>
import { mapActions } from 'vuex'
import global from '~/mixins/global.mixin'
import AppBtn from '~/components/AppUi/AppBtn'

export default {
  name: 'AdminActionDetail',
  components: { AppBtn },
  mixins: [global],
  layout: 'admin',
  async asyncData({ store, params }) {
    const action = await store.dispatch('actions/fetchById', params.id)
    return { action }
  },
  data: () => ({
    action: {
      content: '',
      imageUrl: ''
    }
  }),
  computed: {
    contentFilled() {
      return this.action.content && this.action.content.length > 3
    },
    imageSrc() {
      let urlImage = ''
      if (this.isCover) {
        urlImage = this.cover
      } else if (this.isImage) {
        urlImage = this.action.imageUrl
      } else {
        urlImage = ''
      }
      return urlImage
    },
    showCover() {
      return (
        this.isCover ||
        (this.action.imageUrl && this.action.imageUrl.length > 0)
      )
    },
    isValid() {
      return this.contentFilled && this.image
    },
    isOnlyText() {
      return this.contentFilled && !this.image
    },
    isImage() {
      return this.action.imageUrl && this.action.imageUrl.length > 0
    },
    isCover() {
      return this.cover && this.cover.length > 0
    }
  },
  methods: {
    ...mapActions({
      update: 'actions/update',
      uploadCover: 'imageUploader'
    }),
    async save(id) {
      if (this.isValid) {
        try {
          await this.uploadCover(this.image).then(({ data }) => {
            const formData = {
              content: this.action.content,
              imageUrl: data.url || ''
            }

            this.update({ id, formData }).then((data) => {
              this.$toast.success('Акция изменена', 'OK', null)
              this.$refs.upload.clearFiles()
              this.$refs.actionForm.resetFields()
              this.action = data
            })
          })
        } catch (e) {
          console.error(e.message)
        }
      } else if (this.isOnlyText) {
        try {
          const formData = {
            content: this.action.content,
            imageUrl: this.action.imageUrl
          }

          this.update({ id, formData }).then((data) => {
            this.$refs.upload.clearFiles()
            this.$refs.actionForm.resetFields()
            this.$toast.success('Акция изменена', 'OK', null)
            this.action = data
          })
        } catch (e) {
          console.error(e.message)
        }
      } else if (!this.contentFilled) {
        this.$toast.error(
          'Заполните контент, не менее 3 символов',
          'Ошибка',
          null
        )
      } else {
        this.$toast.error('Загрузите изображение', 'Ошибка', null)
      }
    }
  }
}
</script>

<style scoped></style>
