<template>
  <section class="admin-pages">
    <h1 class="admin-page__title">Акции</h1>
    <el-table :data="actions" style="width: 100%">
      <el-table-column label="Название акции">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 10px">
            {{ getPreviewText(scope.row.content) }}
          </span>
        </template>
      </el-table-column>

      <el-table-column label="Действия">
        <template slot-scope="scope">
          <el-button size="mini" @click="open(scope.row._id)">
            Редактировать
          </el-button>
          <el-button
            size="mini"
            type="danger"
            @click="confirmRemove(scope.row._id)"
          >
            Удалить
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </section>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'AdminActions',
  layout: 'admin',
  middleware: ['admin-auth'],
  async asyncData({ store }) {
    const actions = await store.dispatch('actions/fetchAll')
    return { actions }
  },
  data: () => ({
    actions: []
  }),
  methods: {
    ...mapActions({
      remove: 'actions/remove',
      fetchAll: 'actions/fetchAll'
    }),
    getPreviewText(str) {
      let title = ''
      if (str && str.length > 0) {
        const slicedTags = str.replace(/(<([^>]+)>)/gi, '')
        title = slicedTags.substr(0, 20)
      } else {
        title = 'Без названия'
      }
      return title
    },
    open(id) {
      this.$router.push(`/admin/actions/${id}`)
    },
    confirmRemove(id) {
      this.$confirm('Вы уверены что хотите удалить акцию?', 'Удалить', {
        cancelButtonText: 'Отмена',
        confirmButtonText: 'Удалить',
        type: 'info',
        confirmButtonClass: 'el-button--danger'
      })
        .then(() => {
          this.deleteAction(id)
        })
        .catch(() => {
          this.$toast.info('Удаление отменено', 'Отмена', {
            timeout: 1000
          })
        })
    },
    async deleteAction(id) {
      try {
        await this.remove(id).then(() => {
          this.fetchAll().then((data) => {
            this.actions = data
          })
          this.$toast.success('Акция удалена', 'OK', null)
        })
      } catch (e) {
        this.$toast.error('Что-то пошло не так', 'Oшибка', null)
        console.error(e)
      }
    }
  }
}
</script>

<style scoped></style>
