<template>
  <section class="actions">
    <div class="container">
      <h2 class="section-title" data-aos="fade">
        Акции
      </h2>

      <el-carousel
        v-if="isCarousel"
        indicator-position="none"
        :arrow="showArrows"
        :height="height"
        :autoplay="true"
        :interval="8000"
        :loop="true"
        class="actions-carousel"
      >
        <el-carousel-item
          v-for="(item, index) in actions"
          :key="`action_slide_${index}`"
          :label="`action_${index}`"
          class="actions__wrapper"
        >
          <picture class="actions__pic">
            <img
              :src="item.imageUrl"
              alt=""
              @error="setAltImg($event.target)"
            />
          </picture>

          <div class="actions__text">
            <!-- eslint-disable-next-line vue/no-v-html -->
            <div class="actions__content" v-html="item.content"></div>

            <app-btn @click.native="showBanner()">Получить скидку</app-btn>
          </div>
        </el-carousel-item>
      </el-carousel>

      <div v-else class="actions-once">
        <div class="actions__wrapper">
          <picture class="actions__pic">
            <img
              :src="actions.imageUrl"
              alt=""
              @error="setAltImg($event.target)"
            />
          </picture>
          <div class="actions__text">
            <!-- eslint-disable-next-line vue/no-v-html -->
            <div class="actions__content" v-html="actions.content"></div>

            <app-btn @click.native="showBanner()">Получить скидку</app-btn>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import AppBtn from '~/components/AppUi/AppBtn'
export default {
  name: 'BlockActions',
  components: {
    AppBtn
  },
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    // slides: [
    //   {
    //     image: {
    //       url: '/images/action_2.jpg',
    //       alt: 'Акция бла бла бла'
    //     },
    //     content: `<p>У нас для вас ПОДАРКИ!</p>
    //       <p>Покупая РУА СЗР на 2 потока в подарок мы сделаем еще 2 потока для объемных компонентов: кас, растворов карбамида, гербицидов у вашего растворного узла.</p>
    //       <p>При покупке РУА СЗР на 1 поток так же в подарок добавим еще 1 поток.</p>
    //       <p>А так же приобретая АТД СЗР в подарок вы получите еще один дополнительный поток для объемных компонентов.</p>`
    //   },
    //   {
    //     image: {
    //       url: '/images/action_1.jpg',
    //       alt: 'Акция бла бла бла'
    //     },
    //     content:
    //       '<p> Внимание! Уважаемые партнеры и клиенты группы компаний "Нагро" у нас есть для вас ПОДАРОК! </p> <p> При покупке РУА и АТД СЗР мы дарим дополнительный поток для объемных компонентов: кас, растворов карбамида, гербицидов </p>'
    //   }
    // ]
  }),
  computed: {
    height() {
      return this.$device.isDesktop ? '450px' : '520px'
    },
    showArrows() {
      return this.$device.isDesktop ? 'hover' : 'always'
    },
    isCarousel() {
      return this.items && this.items.length > 1
    },
    actions() {
      return this.items && this.items.length < 2 ? this.items[0] : this.items
    }
  },
  methods: {
    showBanner() {
      this.$modal.show('actions-callback')
    },
    imageLoadError() {
      console.log('Изображение не загружено')
    },
    setAltImg(e) {
      e.classList.add('no-photo')
      e.src = 'images/no-photo.png'
      e.alt = 'Изображение повреждено или недоступно'
    }
  }
}
</script>

<style lang="scss">
.actions {
  position: relative;
  padding-top: 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    max-width: 100%;
    height: 100%;

    @include media($width_md, 0) {
      grid-template-columns: 50% 45%;
    }

    @include media($width_xs_s, 0) {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      justify-content: space-between;
      grid-template-columns: none;
      grid-gap: 0;
    }
  }

  &__pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      &.no-photo {
        padding: 10%;
        object-fit: scale-down;
      }
    }

    @include media($width-container, 0) {
      width: 600px / $width-container * 100vw;
      height: 400px / $width-container * 100vw;
    }

    @include media($width_xs_s, 0) {
      width: 100%;
      height: 300px / $width_xs_s * 100vw;
    }
  }

  &__text {
    @include media($width_md, 1) {
      padding-left: 25px;
      padding-right: 40px;
    }

    .btn {
      max-width: 100%;

      @include media($width_md, 1) {
        max-width: 320px;
      }
    }
  }

  &__content {
    @include text-ellipsis(14);
    margin-bottom: 20px;

    min-height: 188px;
    height: auto;
    max-height: 268px;
    width: 100%;
    overflow: hidden;

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @include media($width_md, 0) {
      max-height: 242px;
    }
  }
}

.actions-carousel,
.actions-once {
  .el-carousel__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color-accent, 0.7);
    font-weight: 900;

    i {
      font-weight: 900;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;

      @include media($width_md, 0) {
        right: auto;
        left: 45px;
      }
    }

    @include media($width_md, 0) {
      top: -(36px / 2);
    }
  }

  @include media($width_md, 0) {
    padding-top: 40px;
  }
}

.actions-once {
  height: 450px;

  @include media($width_md, 0) {
    height: 520px;
  }
}
</style>
